/* ==UserStyle==
@name           BoardGameArena Horizontal Background - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Make the boards in the background horizontal rather than vertical.
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
==/UserStyle== */

@-moz-document domain("boardgamearena.com") {

    html {
        background: white;
    }
    div#overall-content:before {
        content: "";
        position: absolute;
        width: 50000px;
        height:50000px;
        z-index: -1;
        background: url(https://x.boardgamearena.net/data/themereleases/200316-1631/img/layout/back-main.jpg);
        transform: rotate(90deg);
    }
}

