/* ==UserStyle==
@name           BoardGameArena Small ELO Score - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Make player ELO Scores in the player board smaller
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
==/UserStyle== */

@-moz-document domain("boardgamearena.com") {
    span.player_elo_wrap {
        font-size: 60%;
        max-height:10px;
    }
    span.player_elo_wrap span.icon20_rankw {
        height: 10px;
        /*xwidth: 10px;*/
        width: 20px;
        background-size: 50%;
        background-position: 0px -1040px;
        background-repeat: no-repeat;
    }
    span.player_elo_wrap div.gamerank {
        height:10px;
    }
}
