/* ==UserStyle==
@name           BoardGameArena Player Color Marker
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.1
@description    Prepend (or append) a block of color after or before player names to make seeing their colors easier
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

@preprocessor uso

@var          text     afterText "Text after name" ''
@var          text     beforeText "Text before name" '██ '

==/UserStyle== */

@-moz-document domain("boardgamearena.com") {
    .playername[style*="color:"]:after,
    div.player-name a:after
    {
        content:  "/*[[afterText]]*/";
    }
    .playername[style*="color:"]:before,
    div.player-name a:before
    {
        content:  "/*[[beforeText]]*/";
    }
}
