/* ==UserStyle==
@name           BoardGameArena Tiny New Player Notice - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.1
@description    Replace new player notice with 🆕 or text of your choice.
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

@preprocessor uso

@var          text     newText "Replacment" "🆕"

==/UserStyle== */

@-moz-document domain("boardgamearena.com") {
   p.boardblock.doubletime_infos {
        visibility: hidden;
        position: relative;
        height: 1em;
    }
    p.boardblock.doubletime_infos:after {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content: "/*[[newText]]*/";
        font-size: 150%;
    }
}
