/* ==UserStyle==
@name           BGG Dark Mode - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Dark Mode for BoardGameGeek.com (Based on GrauGeist's implementation)
@author         Alan De Smet

Originally from https://github.com/GrauGeist/bgg-dark
https://raw.githubusercontent.com/GrauGeist/bgg-dark/master/D.bgg.user.css

@preprocessor stylus

== colors ==
@var	color		blackBg				'BLACK Background'						#000
@var	color		textColor			'Body text'								#eee

@var 	color		headerBg			'Header background'						#336
@var	color		headerColor			'Header text'							#fff

@var	color		quoteTitleBg		'Sub-Header background'					#446
@var	color		quoteColor			'Subdued text'							#ccc

@var	color		zebraBg2n1			'Zebra contrast'						#111
@var	color		menuBg				'Menu & dropdown background'			#222
@var	color		popupBg				'Pop-up background'						#333

== highlight borders ==
@var	color		borderColor			'Color of regular borders'				#555
@var	color		colorSelected		'Color of selected item'				#dc6
@var	color		colorHighlight		'Color of highlighted item(s)'			#bbd

== links ==
@var	color		linkColor			'Links'									#a9f
@var	checkbox	linkUnderline		'Link underline?'						0

== fonts ==
@var	range		fontSize			"Font Size (basic text)"				[15,10,20,1,"px"]
@var	select		fontFamily			"Font Family"							["proxima-nova*", "verdana", "arial", "sans-serif", "proportional", "default"]

== options ==
@var	checkbox	maxWidth			'Full screen width?'					1
@var	checkbox	floatLeftNav		'Float left navigator lists?'			1
@var	checkbox	geekpreviewHide		'Hide geekpreviews (GenCon, Essen)?'	0
@var	checkbox	promotedVideoHide	'Hide promoted videos on game pages?'	1
@var	checkbox	recommendationsHide	'Hide recommended "Fans Also Like"?'	1

== "fixed" text colors ==
@var	color		textPositive		'Text: positive values'					#4a4
@var	color		textError			'Text: negative values, errors'			#f50
@var	color		buttonBg			'Button background'						#777
@var	color		buttonColor			'Button text'							#bbb


==/UserStyle== */

@-moz-document domain("boardgamegeek.com"), domain("bgg.cc"), domain("rpggeek.com"), domain("videogamegeek.com") {
	:root {
		--blackBg: blackBg;
		--borderBasic: 1px solid borderColor;
		--borderNew: 2px solid colorHighlight;
		--borderSelected: 2px solid colorSelected;
		--buttonBg: buttonBg;
		--buttonColor: buttonColor;
		--floatLeftNav: floatLeftNav;
		--fontFamily: fontFamily;
		--fontSize: fontSize;
		--headerBg: headerBg;
		--headerColor: headerColor;
		--itemSelected: colorSelected;
		--linkColor: linkColor;
		--linkHover: colorSelected;
		--linkSelected: colorSelected;
		--linkVisited: colorHighlight;
		--maxWidth: maxWidth;
		--menuBg: menuBg;
		--popupBg: popupBg;
		--quoteTitleBg: quoteTitleBg;
		--quoteTitleColor: textColor;
		--quoteBg: menuBg;
		--quoteColor: quoteColor;
		--textColor: textColor;
		--textError: textError;	
		--textGold: #990;
		--textPositive: textPositive;
		--zebraBg2n: blackBg;
		--zebraBg2n1: zebraBg2n1;
	}
	
		
	/* ========----  ENTIRE BODY  ----======== */
	html {
		background-color: var(--blackBg);
		color: var(--textColor);
	}

	body, footer.global-footer {
		background: var(--blackBg);
		color: var(--textColor);
	}
	
	
	/* ====--------  TOP header  --------==== */
	.global-header, body gg-header header {
		background: var(--headerBg) !important;
		border-bottom: 1px solid var(--textColor);
	}
	.global-header-nav-primary {
		.dropdown-toggle, button.btn, a.btn, .global-header-site-selector, > button.btn, a.global-header-icon, a.global-header-icon.is-active i, button.btn.global-header-icon.is-active i {
			color: var(--headerColor) !important;
		}
	}
	.form-control {
		color: var(--textColor);
	}
	.ui-select-bootstrap .ui-select-choices-row.active > a {
		background: var(--headerBg);
		color: var(--headerColor);
	}
	.btn-primary, .badge-primary {
		background: var(--buttonBg);
		border-color: var(--buttonBg);
		color: var(--buttonColor);
	}
	.btn-primary:hover {
		background: var(--buttonBg);
		border-color: var(--buttonBg);
		color: var(--linkHover);
	}
	.btn-default:not(.active):not(:disabled), .btn-default:not(.active):not(:disabled):focus, .btn-default:not(.active):not(:disabled):active, .btn-default:not(.active):not(:disabled):visited, .summary-item-tag a, .summary-item-pagination.pagination > li > a, .summary-item-pagination.pagination > li > span, .summary-file-type a {
		background: var(--menuBg) !important;
		border-color: var(--menuBg);
	}
	.btn-default, .btn-subtle, .summary-item-tag a, .summary-item-pagination.pagination > li > a, .summary-item-pagination.pagination > li > span, .summary-file-type a {
		color: var(--textColor) !important;
	}
	.btn-subtle {
		background: var(--buttonBg);
		filter: opacity(80%);
	}
	.btn-default:not(.active):not(:disabled):hover {
		color: var(--linkHover);
	}
	.btn-success {
		background: var(--textPositive);
	}
	.global-header-nav-search-advanced a:hover {
		background: var(--blackBg);
	}

	
	/* ====--------  FULL global body  --------==== */
	/* max width? */
	if maxWidth {
		.container-fluid {
	    	max-width: none;
		}
	}
	
	
	/* ==--  LEFT nav - Quickbar, Recent, Hotness  --== */
	/* floating navigation? */
	if floatLeftNav {
		.global-body-content-container .global-secondary-nav, .sidebar-type-embedded {
    		width: 200px !important;
		    position: sticky;
		    top: 72px;
			}
	}
	
	/* navigation bar borders */
	.global-secondary-nav-section, .geeksidebar-section {
		background: var(--menuBg);
		border: var(--borderBasic);
	}
	
	/* headers */
	.global-secondary-nav-section-header, .geeksidebar-section-header {
		background: var(--headerBg);
		color: var(--headerColor);
	}
	.quickbar-header {
		background-color: var(--menuBg);
	}
	/* Files version */
	.geeksidebar-section-body {
		background-color: var(--blackBg) !important;
		.geeksidebar-links a {
			color: var(--headerColor) !important;
		}
	}
	
	/* link background & color overrides */
	a.toggler-caret, a.global-secondary-nav-section-header {
		color: var(--headerColor) !important;
	}
	.global-secondary-nav-section .toggler-caret-target,  {
		background: var(--blackBg);
		color: var(--headerColor) !important;
	}
	/* list item separators */
	ul.global-secondary-nav-links > li {
		 border-bottom: var(--borderBasic);
	}
	
	/* "+" marker */
	.glyphicon-plus {
		color: var(--buttonColor);
		font-size: 0.70em !important;
	}
	
	
	/* ====--------  CENTER content  --------==== */
	/* (placeholder) */
	

	/* ====--------  BGG Front page  --------==== */
	/* hide specific modules if set */
	if geekpreviewHide {
		div.geekcentral_module > center > a[href*="/geekpreview"]{
		    display: none;
		}
	}
	
	/* editbox */
	.geekcentral-controls {
		background-color: var(--menuBg);
		.geekcentral-controls__edit-link {
			color: var(--buttonColor);
		}
	}

	/* panels */
	.panel {
		.panel-header, panel-header-lg {
			background-color: var(--headerBg);
			color: var(--headerColor);
			.panel-title > a:link {
				color: var(--headerColor) !important;
			}
		}
	}
	.panel-default > .panel-heading, .panel-primary > .panel-heading {
		background: var(--headerBg);
		border: var(--borderBasic);
		color: var(--headerColor);
	}
	.panel-header-sm {
		background: transparent !important;
	}
	
	/* fonts */
	.game-header-title-info h1, h2, .panel-header-lg .panel-title, .navbar-brand {
		font-family: var(--fontFamily) !important;		
		font-size: calc(var(--fontSize) * 1.14) !important;
	}
	.btn, body, h3, h5, .h5, .global-header-nav-primary .dropdown-toggle, .global-header-nav-primary button.btn, .global-header-nav-primary a.btn, .global-header-site-selector, .global-header-nav-primary .dropdown-menu li a, .form-control, .game-year, .gameplay-item-primary, .quotetitle, .quote {
		font-family: var(--fontFamily) !important;
		font-size: var(--fontSize) !important;
	}
	.btn.btn-sm, .btn-group-sm > .btn, h4, .game-header-title-summary, .nav.nav-tabs > li > a, .credits, .credits > * > *, .credits-cta, .rating-stars-title, .panel-header-sm .panel-title, .fs-responsive-sm, .game-classification, .game-marketplace, .summary-video-item > div, .summary-item-description > *, .summary-item-counts > *, .summary-item-meta, .summary-item-meta > *, .summary-item-actions > *, .summary-item-actions-below > *, ul.list-block-border > li > a, .global-footer p, .condition-label, .pagination-sm > li > a, .pagination-sm > li > span, .badge, a.tag, .avatarblock {
		font-family: var(--fontFamily) !important;
		font-size: calc(var(--fontSize) / 1.14) !important;
	}
	.btn-xs, .btn-group-xs > .btn, .fs-xs, a.global-header-user-notification-action, button.global-header-user-notification-action, .global-secondary-nav-section-header, .global-secondary-nav-section-header.toggler-caret, .quickbar-header button.btn,, ul.global-secondary-nav-links > li, .hotness-item-title, .game-header-flags, .gameplay-item-secondary, .game-itemid, .text-domain, .summary-item-tag a, .summary-media-grid-count, .summary-item-pagination.pagination > li > a, .summary-item-pagination.pagination > li > span, .summary-file .summary-file-type a {
		font-family: var(--fontFamily) !important;
		font-size: calc(var(--fontSize) / 1.23) !important;
	}
	/* text-colors */
	h1, h2, h3, h4, h5, h6, p, .dropdown-header, .panel-heading, .text-muted, .summary-sale-item-price, .close {
		color: var(--textColor) !important;
	}
	.text-muted, .link-muted-color, .link-muted-border-muted {
		filter: opacity(80%);
	}
	
	/* links */
	a, a:link, .nav-tabs-more-dropdown a, .summary-image-item .summary-item-title a, .panel-body-toolbar > a, .advertisement-text-body a, .btn.btn-text-link, .btn.btn-text-link.active, .quickbar-pagination button.btn, .global-header-nav-primary .dropdown-menu li a, .panel-inline-links > a:link:not(.btn), .global-footer-item a, .nav.nav-tabs > li > a, .panel-expandable .expandable-body a:link {
		color: var(--linkColor);
	}
	ul.global-secondary-nav-links a, .panel-title, .panel-body, .ng-binding, .link-muted-border-muted, .question  {
		color: var(--textColor) !important;
		
	}
	a:hover, .btn:hover {
		color: var(--linkHover) !important;
	}
	a.selected {
		color: var(--linkSelected) !important;
	}
	.panel-expandable .expandable-body a:visited {
		color: var(--linkVisited);
	}
	
	/* frontpage: zebra striped modules */
	.geekcentral {
		.media-header {
			border-bottom: 1px solid;
		}
		.media-cell {
			border: var(--borderBasic);
			&:nth-child(2n) {
				background: var(--zebraBg2n);
			}
			&:nth-child(2n+1) {
				background: var(--zebraBg2n1);
			}
		}
	}
	
	/* zebra striped tables */
	table.salesreport tr.odd, .table-striped tr:nth-child(2n), .table-condensed tr:nth-child(2n), div.wrapper tr:nth-child(2n), .collection_table > tbody > tr:nth-child(2n), tr[bgcolor="#FFFFFF"] {
		background: var(--zebraBg2n);
	}
	table.salesreport tr.even, .table-striped tr:nth-child(2n+1), .table-striped > tbody > tr:nth-child(2n+1) > th, .table-striped > tbody > tr:nth-child(2n+1) > td , .table-condensed tr:nth-child(2n+1), div.wrapper tr:nth-child(2n+1), .collection_table > tbody > tr:nth-child(2n+1), tr[bgcolor="#ECEDEE"] {
		background: var(--zebraBg2n1);
	}
	
	/* geekmarket */
	.white-bg, .nav > li.active {
		background: var(--menuBg);
	}
	.panel-primary, .form-control, .pagination, .dropdown-menu {
		background: var(--menuBg);
	}
	.table-bordered tbody tr td, .table-bordered tbody tr th {
		border: var(--borderBasic);
	}

	/* sponsored contests */
	.tgc-contest {
		background-color: var(--blackBg);
		div#gotgametext, div#prize {
			color: var(--textColor);
		}
		div#contest, div#prize {
			background-color: var(--menuBg);
		}
		div#prize {
			li.award {
				color: var(--itemSelected);
			}
			li.award_desc {
				color: var(--textColor);
			}
		}
	}
	
	/* game pages */
	if promotedVideoHide {
		promotedvideos-module {
		    display: none;
		}
	}
	if recommendationsHide {
		reviews-module + div.panel {
		    display: none;
		}
	}
	.game-year {
		color: white;
	}
	.game-nav-tabs, .global-body-content-primary {
		background: var(--blackBg);
	}
	.well {
		background: var(--menuBg) !important;
	}
	
	/* game forum table */
	.summary-border {
		border-bottom: var(--borderBasic);
		.summary-item:nth-child(2n) {
			background-color: var(--zebraBg2n);
		}
		.summary-item:nth-child(2n+1) {
			background-color: var(--zebraBg2n1);
		}	
	}

	/* image gallery & file comment quotes */
	gg-markup-quote {
		background: var(--quoteBg) !important;
		border: var(--borderBasic) !important;
		color: var(--quoteColor) !important;
	}
	
	/* expansions */
	.outline-item-title {
		color: var(--textColor);
	}
	.outline-item-description {
		color: var(--textColor);
	}

	/* expandable overlay fade */
	.expandable div.expandable-envelope p.expandable-overlay {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--blackBg));
	}
	
	/* collection pop-ups! */
	div[style*="margin:1em"], div.select-free, div.quickplay_create[style*="background:#fff"] {
			background: var(--popupBg) !important;
			}
	.checkbox label ,.collection-dropdown, .dropdown-menu > li > a {
		color: var(--textColor);
	}
	
	/* media sidebar */
	.media-sidebar {
		background-color: var(--quoteBg) !important;
		border: var(--borderBasic) !important;
		btn-group {
			border-bottom-color: var(--borderBasic) !important;
		}
		.btn-secondary {
			color: var(--textColor) !important;
		}
	}
	
	
	
	/* ---- file page -- exception! ---- */
	/* main body */
	gg-breadcrumbs {
		background-color: var(--blackBg) !important;
		.c-crumb:first-of-type a {
			color: var(--linkColor) !important;
		}
	}
	.dropdown-menu.show {
		background-color: var(--menuBg);
		a {
			color: var(--textColor) !important;
		}
		button {
			color: var(--textColor) !important;
		}
		border: var(--borderBasic);
	}
	.popover {
		background-color: var(--menuBg);
		border: var(--borderBasic);
	}
	gg-license-editable {
		background-color: var(--blackBg) !important;
	}
	.time.placeholder {
		background: var(--blackBg) !important;
	}
	.time, .timeline-body {
		color: var(--textColor) !important;
	}
	.c-container {
		background: var(--blackBg) !important;
		border: var(--borderBasic) !important;
		color: var(--textColor);
	
		.form-control {
			background: var(--menuBg) !important;
			border: var(--borderBasic) !important;
			color: var(--textColor);
		}
		label {
			color: var(--textColor);
		}
		button, .btn {
			border-top: 2px solid #ddd;
 			border-left: 2px solid #ddd;
			border-right: 2px solid #999;
			border-bottom: 2px solid #999;
			background-color: var(--buttonBg) !important;
			color: var(--textColor);
		}
	}
	gg-comment {
		border: var(--borderBasic) !important;
	}
	.comment-header {
		.user-info {
			color: var(--headerColor) !important;
		}
	}
	.comment-body, .comment-footer, .comment-footer > a {
		color: var(--textColor) !important;
		
	}
	.comment-count {
		span, span.count {
			color: var(--textPositive);
		}
		span:hover, span.count:hover {
			color: var(--itemSelected) !important;
		}
	}
	
	/* User popup */
	.popover-body {
		color: var(--textColor) !important;
		a#tab-thumbs.nav-link {
			color: var(--textPositive);
		}
		a#tab-geekgold.nav-link {
			color: var(--textGold);
		}
		.nav-link.active {
			border-color: var(--itemSelected) !important;
		}
		.reaction-list::before, .reaction-list::after {
			background-image: inherit;
		}
	}
	
	/* ---- Log Play ---- */
	.modal.modal-fixed-right {
		.modal-content {
			background: var(--menuBg);
		}
		.modal-body {
			background: var(--popupBg);
			.modal-body-intro {
				a {
					color: var(--linkColor);
				}
			}
			label {
				color: var(--textColor);
			}
			
		}
		.modal-footer {
			background: var(--popupBg);
		}
	}
	/* cancel / discard? */
	.modal-body {
		background: var(--popupBg);			
		}
		.modal-footer {
			.btn {font-size: calc(var(--fontSize) / 1.14) !important;
		}
			background: var(--popupBg);
		}
	
		
		
	/* ====--------   LEGACY   -------==== 
	* fonts
	* backgrounds
	* borders
	* text
	* a links
	* inputs
	*/
	.legacy {
		background: var(--menuBg);
		color: var(--textColor);
		
		/* fonts */
		div.recommend_block dl.recommend *, .post_day {
			font-family: var(--fontFamily) !important;
			font-size: calc(var(--fontSize) * 1.2) !important;
		}
		h1, .module_title, .profile_title, .gallery_title, span[style*="20px"], .geeklist_item_title, .post_month, dt.tippersbig a, .forum_path, .lf, table.lf td {
			font-family: var(--fontFamily) !important;
			font-size: calc(var(--fontSize) * 1.14) !important;
		}
		.moduletable th, .innermoduletable th, .itemmoduletable th, .innermoduletable td, #container, textarea, table, .post_year, .mf, table.mf td, .quotetitle, .quote {
			font-family: var(--fontFamily) !important;
			font-size: var(--fontSize) !important;
		}
		.objectlink > a, .forumlink > a, .modulecommands, .pager, .sf, table.sf td, .post_numcomments, .smallerfont, .tabOn, .tabOff, .geekmail_header, .gm_date, .collection_table td, .owned, .wanted, .fortrade, .wishlist, .prevowned, .wanttoplay, .rating span, .ratingtext, #blog_description, .post_categories ul li, .post_nlinks ul li, .dropdown-header, .geekinput_medium, div.wikitoc, a.tag, .avatarblock {
			font-family: var(--fontFamily) !important;
			font-size: calc(var(--fontSize) / 1.14) !important;
		}
		.geekpages, .pages, .comment_button, .comment_button_disabled, .gallery_caption, .tagbar-inner, .post_author, .post_controls, .post_tstamp, div[style*="9pt"], div.recommendbox_str {
			font-family: var(--fontFamily) !important;
			font-size: calc(var(--fontSize) / 1.23) !important;
		}
		
		/* backgrounds */
		.mainmenutabs, .menu_login, .menu_quickbar, .profile_block, table#collectionitems, div.global-body-content > div, div.header , div.article {
			background: var(--blackBg);
		}
		.messagebox, .popupbox, div.recommend_block, div.wikitoc, input, textarea, .profile_title, .img-thumbnail, .menutab-open, .mainmenutabs li a.open, .submenutabs li a.open,.innermoduletable th, .geekpoll {
			background: var(--menuBg);
		}
		.bluebox {
			background-color: var(--blackBg);
		}
		
		/* borders & outlines */
		.menu_login, .menu_quickbar, .bluebox, div.header, div.recommend_block, div.article, div.comment_toolbar {
			border: var(--borderBasic);
		}
		/* article borders */
		div {
			.article {
				dl {
					border-bottom: var(--borderBasic);
				}
				dd.left {
					border-right: var(--borderBasic);
				}
				dd.right, dd.commands {
					border-left: var(--borderBasic);
				}
			}
			.subbed {
				border: var(--borderNew);
			}
			.selected, .subbed_selected {
				border: var(--borderSelected) !important;
			}
		}
		
		/* text colors */
		.error, text-danger {
			color: var(--textError);
		}
		.positive, .positive a, .storepositive, .storeprice, .price, .text-success {
			color: var(--textPositive);
		}
		input {
			color: inherit;
			background-color: var(--menuBg) !important;
		}

		/* links */
		a, a:link, .nav > li > a, .comment_button, .geeksub_minorlink a:link, button.link {
			color: var(--linkColor);
		}
		a:hover, .menutab-open li a:hover, .geeksub_minorlink a:active, .comment_button:hover {
			color: var(--linkHover) !important;
			transition: none !important;
		}
		if linkUnderline {
			a {
				text-decoration: underline "solid";
			}
			a:hover {
				text-decoration: underline "solid" !important;
			}
		}
		else {
			a, a:hover {
				text-decoration: none !important;
			}
		}
		a:visited, .geeksub_minorlink a:visited {
			color: var(--linkVisited);
		}
		.forumlink, .objectlink {
			a:visited, a:link, a:hover, a:active {
				color: var(--textColor);
			}
		}
		
		/* inputs */
		textarea, .infobox, .messagebox,, .geekpoll, .popupbox, .bluebox, .whitebox, .profile_block, button, input, optgroup, select {
			color: var(--textColor);
		}
		select {
			background: var(--menuBg);
		}
		.post_numcomments, .dull, .darkgray, div.header {
			color: var(--textColor);
		}
		
		/* editer insert Geek link */
		.searchbox_inner {
			background: var(--popupBg);
			/* un-Zebra */
			tr {
				background: var(--menuBg) !important;
			}
		}
		.searchbox_results {
			background: var(--menuBg);
			div {
				div {
					color: var(--textColor) !important; 
				}
			}
			div:hover {
				div:hover {
					background-color: var(--itemSelected) !important;
					color: var(--headerBg) !important;
				}
			}
		}
		
		/* ---- common modules ---- */
		
		/* modules */
		th, .bggstore_widget_controls, .geekcollection_pager, .menu_noquickbar_bottom, .hotitems th, .spotlight_red th, .spotlight_orange th, .moduletable .geekpoll th, .geekpoll tr th.questiontext, .profile_table th, .menu_table, .tabOn, .tabOff, .geekmail_header, div.recommendbox_str  {
			background: var(--headerBg);	
			color: var(--headerColor);
		}
		.tabOn {
			filter: brightness(80%);
		}
		.module_title, td.module_title + td > div a, td.modulecommands + td > div, td.modulecommands + td > div > a, .moduletable th a, .moduletable > tbody > tr:first-child, .moduletable .modulecommands, .modulecommands select, .modulecommands option {
			color: var(--headerColor);
		}

		/* marketplace + images *rolleyes* */
		table.moduletable > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > th:nth-child(3) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
			color: var(--headerColor);
			font-size: calc(var(--fontSize) * 1.14) !important;
		}
		.modulecommands option {
			background: var(--menuBg);
			border: var(--borderBasic);
		}

		/* tables */
		.collection_table th, .forum_table th, .forum_index_table th {
			color: var(--headerColor);
			outline: var(--borderBasic);
		}
		.forum_table, .forum_index_table {
			tr:nth-child(2n) {
				background-color: var(--zebraBg2n);
			}
			tr:nth-child(2n+1) {
				background-color: var(--zebraBg2n1);
			}
			td {
				background-color: transparent !important;
				color: var(--textColor);
				outline: var(--borderBasic);
				border-bottom: none;
			}
		}
		.moduletable th {
			color: var(--textColor);
		}
		
		
		/* ---- page specific stuff ---- */
		
		/* geeklists */
		.geeklist_title, .geeklist_item_title, .comment_toolbar {
			background: var(--headerBg);
		}
		#header {
			border-top: var(--borderBasic);
		}
		.infobox {
			background: var(--blackBg);
			border: var(--borderBasic);
		}
		
		/* geekmail */
		div.geekpages {
			background: var(--blackBg) !important;
		}
		tr:first-child > td.sf > div.sf, .gm_controlbar, div.geekpages:nth-child(2) {
			background: var(--blackBg) !important;
			border: var(--borderBasic) !important;
		}
		table.gm_messages:nth-child(2n) tr[style] {
			background: var(--zebraBg2n1) !important;
		}
		table.gm_messages:nth-child(2n+1) tr[style] {
			background: var(--zebraBg2n) !important;
		}

		/* collection */
		.collection_table td {
			border-left: var(--borderBasic);
			border-top: var(--borderBasic);
		}
		.editfield:hover {
			background: var(--popupBg);
			border: var(--borderSelected);
		}		
		.editfield_active {
			background: var(--popupBg);
			border: var(--borderNew) !important;
		} 
		.collectionfilter_commandbar {
			background: var(--quoteTitleBg);
		}
		.collectionfilter_body {
			background: var(--menuBg);
		}
		.yui-calcontainer.withtitle {
			background-color: var(--menuBg);
			.title {
				background: var(--quoteTitleBg);
				color: var(--quoteTitleColor);
			}
			a.calnav {
				background: var(--popupBg);
				color: var(--quoteColor);
			}
		}
				
		/* polls!  */
		.outerpoll {
			background: var(--blackBg);	
			}
		.geekpoll {
			background-color: var(--menuBg);
			th {
				background-color: var(--headerBg);
			}
			tr:nth-child(2n)  {
				background: var(--zebraBg2n);
			}
			tr:nth-child(2n+1)  {
				background: var(--zebraBg2n1);
			}
			tr.columnlabel {
				background-color: var(--menuBG);
			}
		}	
		.pollresults {
			th, td, .answered {
				background: transparent !important;
			}
			th.header {
				background: var(--headerBg) !important;
			}
			tr:nth-child(2n)  {
				background: var(--zebraBg2n1);
			}
			tr:nth-child(2n+1)  {
				background: var(--zebraBg2n);
			}
			thead tr:nth-child(2)  {
				background: var(--menuBg) !important;
			}
		}
		
		
		/* quotes */
		.quotetitle {
			color: var(--quoteTitleColor);
			background: var(--quoteTitleBg);
			border: var(--borderBasic);
			border-bottom: none;
		}
		.quote {
			color: var(--quoteColor);
			background: var(--quoteBg);
			border: var(--borderBasic);
		}

		/* recommend pop-up */
		.recspy_header {
			background: var(--quoteTitleBg);
		}
		.recspy_box {
			background: var(--popupBg);
		}
		
		/* blogposts */
		.blog_post {
			background: var(--blackBg) !important;
		}
		
		
		/* ---- inline-specific overrides ---- */
		
		/* geekbadge */
		div#badgeowners div[style] {
				background: var(--headerBg) !important;
			}
					
		/* ratings & buttons */
		a.comment_button, .comment_button.ng-binding, .rating[style*="background:white"] {
			background: var(--buttonBg) !important;
			color: var(--buttonColor);
		}
		
		/* collection rating backgrounds 3 4 5 6 7 8 9 10 */
		.rating[style*="background:#ff6699"] {
				background-color: #a27 !important;
			}
		.rating[style*="background:#ff66cc"] {
				background-color: #a29 !important;
			}
		.rating[style*="background:#cc99ff"] {
				background-color: #73b !important;
			}
		.rating[style*="background:#9999ff"] {
				background-color: #33a !important;
			}
		.rating[style*="background:#99ffff"] {
				background: #27a !important;
			}
		.rating[style*="background:#66ff99"] {
				background-color: #288 !important;
			}
		.rating[style*="background:#33cc99"] {
				background-color: #175 !important;
			}
		.rating[style*="background:#00cc00"] {
				background-color: #060 !important;
			}
		
		/* collection status text */
		.fortrade {
			color: #fa7;
		}
		.preordered {
			color: #afc;
		}
		.prevowned {
			color: #aaa;
		}
		.wanted {
			color: #df9;
		}
		.wanttobuy {
			color: #7f5;
		}
		.wanttoplay {
			color: #7af;
		}
		.wishlist {
			color: #f7d;
		}

		/* Flag or Tip */
		div[style*="background:lightsteelblue"] {
			background-color: var(--blackBg) !important;
			color: var(--textColor);
			div {
				font-size: calc(var(--fontSize) / 1.14) !important;
			}
		}
		div[style*="background:white"] {
			background-color: var(--quoteBg) !important;
			color: var(--quoteColor);
			a {
				color: var(--textError);
			}
			a[target] {
				color: var(--textColor);
			}
			div a {
				font-size: calc(var(--fontSize) / 1.14) !important;
			}
			div ul li a {
				color: var(--textGold);
			}
		}
			
		/* editor, buttons & inputs */
		a.editbutton {
			/* match colors */
			border-top: 2px solid #ddd;
 			border-left: 2px solid #ddd;
			border-right: 2px solid #999;
			border-bottom: 2px solid #999;
			background-color: var(--buttonBg) !important;
		}
		button, .btn, .smallerfont[type="button"], input[type="reset"], input[type="submit"], input[type="button"] {
			background-color: var(--buttonBg) !important;
		}
		textarea[style] {
			width:100% !important;
		}
			
	}
}	

