/* ==UserStyle==
@name           BoardGameArena Dark - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Set much of Board Game Arena dark 
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
==/UserStyle== */

@-moz-document domain("boardgamearena.com") {
    html {
        background: black;
    }
    .whiteblock {
        background-image: none;
        background-color: #333;
        border-radius: .4em;
    }
    #logs_wrap {
        background-color: #aaa;
        border-radius: .4em;

    }
    .log .roundedbox { /* Game logs */
        background: none;
        border-bottom: 1px solid #777;
    }
    #page-title { /* status ("Play now") */
        background-color: #aaa;
        border-radius: .4em;

    }
    .roundedbox#page-title {
        padding: 0;
    }
    #topbar {
        background-color: #333;
        background-image: none;
    }
    
    /* Documentation at the bottom */
    div.pagesection {
        background-color: #333;
        color: #AAA;
    }
    .pagesection h2, .pagesection h3 {
        background-image: linear-gradient(to top, #222, #666);
        color: #CCC;
    }
    #maingameview_menufooter {
        background-color: #555;
        color: #CCC;
    }
    .warning_high {
        background-color: #800;
    }
 
    
    
}
