/* ==UserStyle==
@name           BoardGameArena Scrolling Logs  - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Give have the history log a scroll bar so it's always on the top of the page instead of requiring the entire page to scroll. Intended for use with ☰ "Display game logs: On a second column"
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

==/UserStyle== */

@-moz-document domain("boardgamearena.com") {
    div#right-side-second-part div#logs_wrap {
        overflow-y: scroll;
        /* 62px = #topbar  height */
        /* 8px = #topbar margin-bottom */
        /* 5px = margin-top of the left side holder */
        height: calc(100vh - 62px - 8px - 5px);
		position: fixed;
    }
}
