/* ==UserStyle==
@name           CPPReference.com Dark - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Dark theme for CPPReference.com
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
==/UserStyle== */

@-moz-document domain("cppreference.com"), url-prefix("file:///usr/share/cppreference/")
{


:root {
    --default-bkgd-color: #333333;
    --darker-bkgd-color: #282828;
    --lighter-bkgd-color: #404040;
    --table-bkgd-color: #474747;
    --border-color: #666;
    --box-color: #777;
    --default-color: #d1d1d1;
  }
  
  /* Contents Page */
  .mainpagetable tr.row td {
    background-color: var(--default-bkgd-color); /* #3f3f3f; */
  }
  
  /* for below Footer */
  body {
    background-color: var(--default-bkgd-color);
  }
  
  /* Page Background */
  div#cpp-content-base {
    background-color: var(--default-bkgd-color);
  }
  
  /* Page text */
  div#content {
    color: var(--default-color);
    background-color: var(--default-bkgd-color); /* #3f3f3f; */
  }
  
  /* Boxed text */
  .t-rev-inl {
    border-color: var(--box-color);
  }
  
  .t-rev > td:nth-child(1), .t-rev > td:nth-child(2) {
    border-color: var(--box-color);
  }
  
  /* Link */
  a {
    color: #5291f8;
  }
  
  a:visited {
    color: #6ba1f9;
  }
  
  a.new {
    color: #ff4444;
  }
  
  /* Top Pane */
  div#cpp-head-first-base {
    background-color:var(--default-bkgd-color);
    border-bottom-color: #999;
  }
  
  /* "cppReference.com" */
  div#cpp-head-first > h5 > a {
    color: #a7a7a7;
  }
  
  /* User dropdown */
  div#cpp-head-personal ul {
    background-color: var(--default-bkgd-color);
  }
  
  /* Search input */
  div#simpleSearch {
    background-color: var(--lighter-bkgd-color);
    background-image: unset;
  }
  
  div#simpleSearch input#searchInput {
    color: var(--default-color);
  }
  
  div#simpleSearch button#searchButton img {
    filter: invert(100%);
  }
  
  /* Search dropdown */
  .suggestions-special {
    color: #929292;
    background-color: #3d3d3d;
  }
  
  .suggestions-special .special-query {
    color: #b8b8b8;
  }
  
  .suggestions-result-current .special-label, .suggestions-result-current .special-query {
    color: #a7a7a7;
  }
  
  /* Search results */
  table.mw-cppsearch-groups {
    background-color: var(--darker-bkgd-color);
  }
  
  /* Middle Pane */
  div#cpp-head-second-base {
    background-color: var(--default-bkgd-color);
    background-image: unset;
    border-bottom: 1px ridge #aaa;
  }
  
  div#p-namespaces.vectorTabs {
    background-image: unset;
  }
  
  div.vectorTabs span {
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAYAAADp73NqAAAAmklEQVQImXXEMQtBUQAF4POfblEGvdQrSi9JKYoURZFBZ2B4WSSlyKAoJUU2i7pWg8Vg9VvedCz3jr7hgzFG+FsqTVcm8GVDCkFohFzBCGFkhHxEoVimUKr7Kk0K1TaFWpdCY0ChRQqdCYVeTKEfUxjOKYyWFMZr33RnXbOTFRYXK6xuvs3dCtuHFfZP3+FlheM7cZ0/vus30Q+O/G5ErVPgOQAAAABJRU5ErkJggg==);   / * Alternate image inverted from original * /    */
    background-image: unset;
    background-color: var(--default-bkgd-color);
  }
  
  div#p-views.vectorTabs {
    background-image: unset;
  }
  
  div.vectorTabs ul li a {
    color: var(--default-color);
  }
  
  /* div.vectorTabs ul li.selected{
    background-image: none;
  } */
  
  div.vectorTabs li.selected a, div.vectorTabs li.selected a:visited {
    color: var(--default-color);
  }
  
  div.vectorMenu {
    background-image: none;
  }
  
  div.vectorMenu h5 {
    background-image: none;
  }
  
  div.vectorMenu li a {
    color: #5291f8;
    background-color: var(--default-bkgd-color);
  }
  
  /* API declarations */
  .t-dcl > td, 
  .t-dcl-h > td, 
  .t-dcl-sep > td, 
  .t-dcl-rev > .t-dcl:first-child > td, 
  .t-dcl-rev > .t-dcl-rev-aux > td, 
  .t-dcl-rev > .t-dcl > td, 
  .t-dcl-rev > .t-dcl-h > td {
    border-top-color: var(--border-color);
  }
  
  /* API surrounding boxes */
  .t-c {
    border-color: var(--border-color);
  }
  
  /* 'Operations', 'Invalidated' table */
  .dsctable > tbody > tr > td {
    border-top-color: var(--border-color);
  }
  
  .dsctable > tbody > tr:last-child > td {
    border-bottom-color: var(--border-color);
  }
  
  /* 'Member types', 'Member functions', 'See Also' */
  .t-dsc > td {
    border-top-color: var(--border-color);
  }
  
/*   / * underlines 'Member types' * /
  .t-dsc-hitem > td {
    border-top-color = #cccccc by default
  } */
  
  /* underlines 'Member functions' */
  .t-dsc-begin > tbody > .t-dsc:first-child > td {
    border-top-color: #cccccc;
  }
  
/*   / * underlines the sub-headers * /
  .t-dsc-begin > tbody > tr:not(.t-dsc) + tr > td {
    border-top-color: #cccccc;
  } */
  
  /* separators in 'Initialization' in C++ Language */
  .t-sdsc-sep {
    border-top-color: var(--border-color);
  }
  
  /* Footer */
  div#cpp-footer-base {
    background-color: var(--default-bkgd-color);
  }
  
  div#footer ul li {
    color: var(--default-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--default-color);
  }
  
  /* template, conditional, loop keywords */
  .cpp.source-cpp .kw1 {
    color: #4fa2b3;
  }
  
  /* bool */
  .cpp.source-cpp .kw2 {
    color: #84c103;
  }
  
  /* keyword */
  .cpp.source-cpp .kw4 {
    color: #ac7339;
  }
  
  /* numeric literal 1 */
  .cpp.source-cpp .nu0 {
    color: #7aa3c3;
  }
  
  .cpp.source-cpp .nu19, .cpp.source-cpp .nu16 {
    color: #6d99c8;
  }
  
  /* comparison & shift operators */
  .cpp.source-cpp .sy1 {
    color: #4b7ea5;
  }
  
  /* indirection, increment, decrement operators */
  .cpp.source-cpp .sy2 {
    color: #4fa2b3;
  }
  
  /* not operator */
  .cpp.source-cpp .sy3 {
    color: #4fa2b3;
  }
  
  .mw-geshi a {
    color: #4fa2b3;
  }
  
  pre {
    color: var(--default-color);
  }
  
  pre, div.mw-geshi {
    background-color: var(--darker-bkgd-color);
  }
  
  /* "C++" dropdown */
  .t-navbar-menu > div {
    background-color: var(--default-bkgd-color);
  }
  
  /**** Table *****/
  table.wikitable {
    color: var(--default-color);
    background-color: var(--darker-bkgd-color);
  }
  
  table.wikitable > * > tr > td {
    background-color: var(--default-bkgd-color) !important;
  }
  
  table.wikitable > tr > th, table.wikitable > * > tr > th {
    background-color: var(--table-bkgd-color);
  }
  
  /* green, red elements e.g. http://en.cppreference.com/w/cpp/compiler_support */
  table.wikitable > * > tr > td.table-yes { /* Green */
    background-color: #245224 !important; /* from #3b873b */
    color: #eee !important;
  }
  
  table.wikitable > * > tr > td.table-no { /* Red */
    background-color: #7f2e2e !important; /* from #ff9090 -> #ff5d5d */
    color: #eee !important;
  }
  
  /* blank cells */
  .table-na {
    background-color: var(--table-bkgd-color) !important;
  }
  
  /* green, purple, yellow elements e.g. http://en.cppreference.com/w/cpp/container */
  tr[style="background: #bcbcff;"], td[style="width:4em; background:#bcbcff;"] { /* C++03 */
    background-color: #5959cc !important;
  }
  
  tr[style="background: #bcffbc;"], td[style="width:4em; background:#bcffbc;"] { /* C++11 */
    background-color: #3b873b !important;
  }
  
  tr[style="background: #ffeebc;"], td[style="width:4em; background:#ffeebc;"] { /* C++17 */
    background-color: #a47a00 !important;
  }
  
  span[style="font-size:0.9em; color: #505050;"] {
    color: var(--default-color) !important;
  }
  
  /* green, purple header rows */
  tr[style="background: #b0b0d0;"] {
    background-color: #565690 !important;
    color: #eee;
  }
  
  tr[style="background: #b0d0b0;"] {
    background-color: #337655 !important;
    color: #eee;
  }
  
  /* Message e.g. Section Incomplete */
  table.ambox {
    background-color: var(--darker-bkgd-color);
  }
  
  /** Members table e.g. std::bind **/ 
  div.t-member {
    background-color: #27292b;
  }
  
  /* Discussions */
  element {
    background-color: #4c4733;
  }
  
  /** User account Preferences **/
  #preferences {
    background-color: var(--default-bkgd-color);
    background-image: none;
  }
  
  #preferences legend {
    color: #dadada;
  }
  
  #preftoc a {
    color: #0963f6;
  }
  
  /* Watch/Unwatch notifications */
  .mw-notification {
    background-color: var(--lighter-bkgd-color);
    border-color: var(--border-color);
  }
  
  /**** Inheritance Diagram ******/
  div.t-inheritance-diagram > div.center > div.noresize > img {
    filter: invert(80%);
  }

  /* Members - std::is_trivial */
  .t-inherited {
    color: var(--default-color);
    background-color: var(--darker-bkgd-color);
  }
  
  /** Site-specific **/
  div.contents {
    background-color: var(--darker-bkgd-color);
  }
  
  /** For CppCon message **/
  table.plainlinks.fmbox.fmbox-system.noprint {
    background-color: var(--default-bkgd-color) !important;
  }
  
  table.fmbox-system {
    background-color: var(--darker-bkgd-color);
  }
  
  /*** Discussion Page ***/
  
  /* Archives box */
  table.tmbox {
    background-color: var(--darker-bkgd-color);
    border-color: var(--border-color);
  }
  
  /* individual archive msg. box */
  table.plainlinks.fmbox.fmbox-system {
    background-color: var(--darker-bkgd-color) !important;
  }
  
  /*** History Page ***/
  
  #pagehistory li {
    border-color: var(--border-color);
  }
  
  #pagehistory li.selected {
    background-color: var(--darker-bkgd-color);
  }
  
  .mw-plusminus-neg {
    color: #e81414; /* from default #8b0000 */
  }
  
  .mw-plusminus-pos {
    color: #009700; /* from default #006400 */
  }
  
  /** Compare Revisions **/
  table.diff {
    background-color: var(--default-bkgd-color);
  }
  
  td.diff-context {
    background-color: var(--darker-bkgd-color);
    border-color: var(--border-color);
    color: var(--default-color);
  }
  
  .diffchange {
    color: #bbb;
  }
  
  table.diff td.diff-marker {
    color: var(--border-color);
  }
  
  /* removed */
  td.diff-deletedline .diffchange {
    background-color: #7a5602;
  }
  
  td.diff-deletedline {
    border-color: #b68400;
  }
  
  /* added */
  td.diff-addedline .diffchange {
    background-color: #003b74;
  }
  
  td.diff-addedline {
    border-color: #0055a5;
  }
  
  /**** other Diagrams ******/
  
  /* std::basic_streambuf */
  img[alt="std-streambuf.svg"] {
    filter: invert(70%);
  }
  
  /**** Technical Specfications -> Extensions ( having [Expand] button ) ******/
  th[style="background: #F0F2F5; font-size:87%; padding:0.2em 0.3em; text-align:center;"] {
    background-color: var(--darker-bkgd-color) !important;
  }
  
  td[style="border: solid 1px silver; padding: 8px; background: white;"] {
    background-color: var(--default-bkgd-color) !important;
  }
  
  /* 'Members and non-members identical to...' pane e.g. std::experimental::shared_ptr */
  div[style="overflow: hidden; margin: 1em 0 0 0; border: 1px solid #aaa; background-color: #e3f9df; padding: 0.2em 1em 1em 1em;"] {
    background-color: #27292b !important;
  }
  
  /**** std Symbol Index ******/
  .toccolours {
    background-color: var(--darker-bkgd-color);
    border-color: var(--border-color);
  }
  
  /**** Template documentation e.g. en.cppreference.com/w/Template:trim ******/
  
  table.ombox {
    background-color: var(--darker-bkgd-color);
    border-color: var(--border-color);
  }
  
  .template-documentation {
    background-color: #27292b;
  }
  
  /****  Coliru online compiler Editor ******/
  .ace-tm {
    background-color: var(--darker-bkgd-color);
    color: #ccc;
  }
  
  /* 'Run', 'Share', 'Exit' */
  .coliru-btn {
    background-color: var(--default-bkgd-color);
    background-image: none;
    color: #aaaaaa;
  }
  
  .coliru-btn:hover {
    background-color: var(--border-color);
    background-image: none;
    color: #ccc;
  }
  
  /* Compiler Selector */
  .coliru-select-compiler select {
    background-color: var(--default-bkgd-color);
    background-image: none;
    color: #aaaaaa;
  }
  
  /* blinking cursor */
  .ace-tm .ace_cursor {
    color: #aaaaaa;
  }
  
  /* vertical margin, on middle-right across editor */
  .ace-tm .ace_print-margin {
    background-color: var(--default-bkgd-color);
  }
  
  /* active line row */
  .ace-tm .ace_gutter-active-line {
    background-color: #a1a1a1;
  }
  
  /* code folds */
  .ace-tm .ace_fold {
    background-color: black;
  }
  
  /* selected word */
  .ace-tm .ace_marker-layer .ace_selection {
    background: rgba(192, 192, 192, 0.15);
  }
  
  .ace-tm .ace_marker-layer .ace_active-line {
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  /* Error symbol */
  .ace_gutter-cell.ace_error {
  }
  
  /* Line No.s */
  .ace-tm .ace_gutter {
    background-color: var(--default-bkgd-color);
    color: var(--border-color);
  }
  
  /* Block Indent vertical line */
  .ace-tm .ace_indent-guide {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABJJREFUCJlj+P///38GBgaG/wAe6wT8qpLcqwAAAABJRU5ErkJggg==") right repeat-y;
  }
  
  /* C++ color coding */
  
  .ace-tm .ace_storage, .ace-tm .ace_keyword {
    color: #3281c6;
  }
  
  .ace-tm .ace_constant {
    color: #ed2c5d;
  }
  
  .ace-tm .ace_string {
    color: #1f8000;
  }
  
  .ace-tm .ace_constant.ace_numeric {
    color: #ac7339;
  }
  
  /* e.g. printf */
  .ace-tm .ace_support.ace_function {
    color: #66d9ef;
  }
  
  /***** C Documentation *****/
  
  /* from corresponding C++ styles */
  
  /* bool */
  .c.source-c .kw2 {
    color: #84c103;
  }
  
  /* keyword */
  .c.source-c .kw4 {
    color: #ac7339;
  }
  
  /* numeric literal */
  .c.source-c .nu0 {
    color: #7aa3c3;
  }
  
  .c.source-c .nu16, .c.source-c .nu17 {
    color: #6d99c8;
  }
  
  /* template, conditional, loop keywords */
  .c.source-c .kw1 {
    color: #4fa2b3;
  }
  
  /* comparison & shift operators */
  .c.source-c .sy1 {
    color: #4b7ea5;
  }
  
  /* indirection, increment, decrement operators */
  .c.source-c .sy2 {
    color: #4fa2b3;
  }
  
  /* not, address-of operator */
  .c.source-c .sy3 {
    color: #4fa2b3;
  }
  
  /***** ja.cppreference.com *****/
  
  /** Translated Text on hover **/
  
  /* Highlighted Text */
  .t-tr-text:hover {
    background-color: var(--lighter-bkgd-color);
  }
  
  /* Pop-up Original Text */
  .t-tr-dropdown > div > div {
    background-color: var(--default-bkgd-color);
    border-color: var(--border-color);
  }
  
  .t-tr-dropdown-arrow {
    border-bottom-color: var(--default-bkgd-color);
  }
  
  .t-tr-dropdown-arrow-border {
    border-bottom-color: var(--border-color);
  }
  
  /** Separators in rows e.g. ja.cppreference.com/w/cpp/string/byte **/
  .t-dsc-sep > td {
    border-top-color: var(--border-color);
  }
}
