/* ==UserStyle==
@name           Diaspora* Pods
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    For Diaspora in general (And pluspora in specific)
@author         Alan De Smet
==/UserStyle== */

@-moz-document domain("pluspora.com") {
    textarea.md-input {
        font-family: 'Input Mono', monospace;
    }
}
