/* ==UserStyle==
@name           GitLab Dark - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.21
@description    A dark GitLab theme that leaves most of the existing dark elements alone.
@author         David Bronke, Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        CC-BY-SA-4.0
==/UserStyle== */
@-moz-document domain("gitlab.com"), domain("gitlab.ssec.wisc.edu") {
body {
    background-color: #111 !important;
    color: #92959C;
}
a {
    color: #91A9C7;
}
a:hover, a:focus {
    color: #ACC6E6;
}
code {
    background-color: #420716;
    color: #DC4F72;
}
.label-branch {
    color: #ccc;
}
.label-primary {
    background-color: #165575;
}
p:last-child {
    margin-bottom: 0;
}
header.navbar-gitlab {
    background-color: #2d2d2d;
    border-color: #555;
}
header .header-content .title, header .header-content .title a {
    color: #999;
}
.cover-block, .content-block, .gray-content-block, .file-holder .file-title {
    background-color: #272727;
    border-color: #555;
}
.cover-block .cover-title h1 {
    color: #999;
}
.content-wrapper .container-fluid, .content > .clearfix > .container-fluid {
    background-color: #111;
    border-color: #555;
}
.row-content-block.white,.content-block.white, .gray-content-block.white, .file-holder .file-content, .project-stats, .row-content-block {
    background-color: #1a1a1a;
    border-color: #555;
}
.row-content-block.clear-block {
    margin-bottom: 0;
}
.content > .clearfix > .container-fluid > .second-block, .content > .clearfix > .container-fluid > .top-area, body[data-page="projects:commits:show"] #commits-list > li,
.build-page > .build-header, .build-page > .nav-links {
    margin-left: -16px; margin-right: -16px;
    padding-left: 16px; padding-right: 16px;
}
.file-holder .file-title a:not(.btn) {
    color: #bbb;
}
.top-area {
    border-color: #555;
}
.row-content-block {
    border-color: #555;
    color: #999;
}
.row-content-block.build-content {
    background-color: #111;
}
.gray-content-block.second-block {
    border-bottom: 1px solid #555;
    padding: 3px 0;
}
.gray-content-block.second-block > .pull-right > .append-bottom-default {
    margin: 0;
}
.gray-content-block.second-block > .pull-right > .append-bottom-default > .btn {
    padding: 2px 8px;
}
.gray-content-block.second-block::after {
    content: ' ';
    clear: both;
    display: table;
}
.nav-links {
    border-color: #777;
}
.nav-links li:hover a {
    color: #b5b4b4;
}
.layout-nav .nav-links li:hover a, .layout-nav .nav-links li:hover i {
    color: #ccc;
}
.nav-links li.active a, .center-top-menu li.active a, .layout-nav .nav-links li.active a, .layout-nav .nav-links li.active i {
    color: #fff;
}
.nav-links.sub-nav, .nav-links.sub-nav .container-fluid {
    background-color: #252525;
    border-color: #444;
}
.nav-links.sub-nav li a {
    margin: 0;
    padding: 5px 10px 3px;
}
.breadcrumb.repo-breadcrumb a {
    color: #999;
}
.breadcrumbs-sub-title a {
    color: #999;
}
.projects-search-form {
    background-color: #272727;
    border-color: #777;
}
.projects-list>li, .projects-list .project-row {
    border-color: #555;
}
.projects-list .project-row .project-full-name {
    color: #999;
}
.project-stats .nav>li>a, .btn, .project-home-panel .visibility-level-label, .snippet-holder .file-actions .btn-clipboard, .commit button {
    background-color: #111;
    border-color: #555;
    color: #999;
}
.commit a, ul.content-list>li a, .divergence-graph .graph-side .count {
    color: #999;
}
    ul.content-list>li.closed a {
        color: #555;
    }
    .issuable-list li.closed .issuable-info {
        color: #444;
    }
.divergence-graph .graph-side .bar, .divergence-graph .graph-separator {
    background-color: #444;
}
.branch-commit .commit-id, .branch-commit .commit-row-message {
    color: #777;
}
.btn.btn-gray, .project-home-panel .visibility-level-label, .snippet-holder .file-actions .btn-gray.btn-clipboard, .snippet-holder .file-actions .project-home-panel .btn-clipboard.visibility-level-label, .project-home-panel .snippet-holder .file-actions .btn-clipboard.visibility-level-label, .project-home-panel .project-repo-buttons .btn, .project-home-panel .project-repo-buttons .visibility-level-label, .project-home-panel .project-repo-buttons .snippet-holder .file-actions .btn-clipboard, .snippet-holder .file-actions .project-home-panel .project-repo-buttons .btn-clipboard {
    background-color: #333;
    border-color: #777;
    color: #ddd;
}
.project-stats .nav>li>a:hover, .project-stats .nav>li>a:focus, .btn.btn-gray:hover, .project-home-panel .visibility-level-label:hover, .snippet-holder .file-actions .btn-gray.btn-clipboard:hover, .btn.btn-gray:focus, .project-home-panel .visibility-level-label:focus, .snippet-holder .file-actions .btn-gray.btn-clipboard:focus, .project-home-panel .project-repo-buttons .btn:hover, .project-home-panel .project-repo-buttons .visibility-level-label:hover, .project-home-panel .project-repo-buttons .snippet-holder .file-actions .btn-clipboard:hover, .snippet-holder .file-actions .project-home-panel .project-repo-buttons .btn-clipboard:hover, .project-home-panel .project-repo-buttons .btn:focus, .project-home-panel .project-repo-buttons .visibility-level-label:focus, .project-home-panel .project-repo-buttons .snippet-holder .file-actions .btn-clipboard:focus, .snippet-holder .file-actions .project-home-panel .project-repo-buttons .btn-clipboard:focus, .btn:hover, .project-home-panel .visibility-level-label:hover, .snippet-holder .file-actions .btn-clipboard:hover, .btn:focus, .project-home-panel .visibility-level-label:focus, .snippet-holder .file-actions .btn-clipboard:focus, .btn.btn-close, .btn.btn-inverted.btn-new {
    background-color: #444;
    border-color: #888;
    color: #fff;
}
.btn.btn-close:hover, .btn.btn-close:focus {
    color: #e52c5a;
    border-color: #e52c5a;
}
.btn.btn-success, .snippet-holder .file-actions .btn-success.btn-clipboard, .btn.btn-new, .snippet-holder .file-actions .btn-new.btn-clipboard, .btn.btn-create, .btn.comment-btn, .snippet-holder .file-actions .comment-btn.btn-clipboard, .snippet-holder .file-actions .btn-create.btn-clipboard, .btn.btn-save, .snippet-holder .file-actions .btn-save.btn-clipboard, .input-group-btn .btn-green {
    background-color: #17502E;
}
.btn.btn-success:hover, .snippet-holder .file-actions .btn-success.btn-clipboard:hover, .btn.btn-success:focus, .snippet-holder .file-actions .btn-success.btn-clipboard:focus, .btn.btn-new:hover, .snippet-holder .file-actions .btn-new.btn-clipboard:hover, .btn.btn-new:focus, .snippet-holder .file-actions .btn-new.btn-clipboard:focus, .btn.btn-create:hover, .btn.comment-btn:hover, .snippet-holder .file-actions .comment-btn.btn-clipboard:hover, .snippet-holder .file-actions .btn-create.btn-clipboard:hover, .btn.btn-create:focus, .btn.comment-btn:focus, .snippet-holder .file-actions .comment-btn.btn-clipboard:focus, .snippet-holder .file-actions .btn-create.btn-clipboard:focus, .btn.btn-save:hover, .snippet-holder .file-actions .btn-save.btn-clipboard:hover, .btn.btn-save:focus, .snippet-holder .file-actions .btn-save.btn-clipboard:focus, .input-group-btn .btn-green:hover, .input-group-btn .btn-green:focus {
    background-color: #1D683B;
}
.btn.btn-danger, .project-home-panel .btn-danger.visibility-level-label, .snippet-holder .file-actions .btn-danger.btn-clipboard, .btn.btn-remove, .project-home-panel .btn-remove.visibility-level-label, .snippet-holder .file-actions .btn-remove.btn-clipboard, .btn.btn-red, .project-home-panel .btn-red.visibility-level-label, .snippet-holder .file-actions .btn-red.btn-clipboard {
    background-color: #863832;
    border-color: #F24F41;
}
.btn.btn-danger:hover, .project-home-panel .btn-danger.visibility-level-label:hover, .snippet-holder .file-actions .btn-danger.btn-clipboard:hover, .btn.btn-danger:focus, .project-home-panel .btn-danger.visibility-level-label:focus, .snippet-holder .file-actions .btn-danger.btn-clipboard:focus, .btn.btn-remove:hover, .project-home-panel .btn-remove.visibility-level-label:hover, .snippet-holder .file-actions .btn-remove.btn-clipboard:hover, .btn.btn-remove:focus, .project-home-panel .btn-remove.visibility-level-label:focus, .snippet-holder .file-actions .btn-remove.btn-clipboard:focus, .btn.btn-red:hover, .project-home-panel .btn-red.visibility-level-label:hover, .snippet-holder .file-actions .btn-red.btn-clipboard:hover, .btn.btn-red:focus, .project-home-panel .btn-red.visibility-level-label:focus, .snippet-holder .file-actions .btn-red.btn-clipboard:focus {
    background-color: #B84D45;
    border-color: #FB3929;
}
.input-group-btn .active {
    background-color: #444 !important;
    border-color: #999 !important;
}
.input-group .input-group-addon, .git-clone-holder .input-group-addon {
    background-color: #222;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    background-color: #222;
}
.wiki:not(.use-csslab) h1, .wiki:not(.use-csslab) h2,  .wiki:not(.use-csslab) h3, h1, h2, h3, h4, h5, h6, .detail-page-description .title,
    .md:not(.use-csslab) h1, .md:not(.use-csslab) h2, .md:not(.use-csslab) h3

    {
    color: #bbb;
}
.project-home-panel .project-home-desc h1 {
    color: #999;
}
.project-home-panel .project-home-desc p {
    color: #888;
}
header.navbar-gitlab .side-nav-toggle {
    background: #444;
}
header.navbar-gitlab .side-nav-toggle:hover {
    background: #554;
}
header .search .search-input, header .search.search-active .search-input,  .project-home-panel .git-clone-holder .form-control, .select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice, .form-control, .issue-search-form .issue_search, .select2-container-multi .select2-choices, .select2-drop, .select2-drop-active .select2-search input, input[type='search'], .search form {
    background-color: #111;
    border-color: #777;
    color: #bbb;
}
body.ui-indigo .search form:hover {
    background-color: #33A;
}
.issue-search-form .issue_search {
    border-color: #777 !important;
}
.select2-container .select2-choice .select2-arrow, .select2-container.select2-drop-above .select2-choice .select2-arrow {
    background-color: #111;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background-color: #443;
    border-color: #777;
    color: #eee;
}
.select2-container .select2-choice .select2-chosen, .select2-container.select2-drop-above .select2-choice .select2-chosen {
    color: #bbb;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #444040;
    color: #777;
}
.select2-container .select2-choice:hover, .select2-container.select2-drop-above .select2-choice:hover {
    background-color: #222;
    border-color: #8B909B;
}
.btn-group-next .btn, .btn-group-next .project-home-panel .visibility-level-label, .project-home-panel .btn-group-next .visibility-level-label, .btn-group-next .snippet-holder .file-actions .btn-clipboard, .snippet-holder .file-actions .btn-group-next .btn-clipboard {
    border-color: #555;
}
.event-item {
    border-color: #444;
}
.event-item a {
    color: #ACB6D5;
}
.center-top-menu li .badge {
    background-color: #444;
}
li.commit .commit-row-title .text-expander {
    background-color: #333;
    color: #bbb;
    border-color: rgba(255,255,255,0.2);
}
li.commit .commit-row-title .text-expander:hover {
    background-color: #555;
}
.commit-box .commit-title {
    color: #A4AED5;
}
ul.bordered-list>li, ul.content-list>li, ul.content-list li {
    color: #555;
    border-color: #555;
}
hr, .lists-separator {
    border-color: #777;
}
.gl-pagination {
    background-color: #333;
    border-color: #777;
}
.pagination>li>a, .pagination>li>span {
    background-color: #333;
    color: #ccc;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
    background-color: #164D69;
}
.gl-pagination .pagination li>a, .gl-pagination .pagination li>span {
    border-color: #777;
}
.gl-pagination .pagination li.first>a, .gl-pagination .pagination li.last>a, .gl-pagination .pagination li.next>a, .gl-pagination .pagination li.prev>a {
    color: #97B1D4;
}
.project-network {
    border-color: #777;
}
.project-network .controls {
    background-color: #333;
    border-color: #777;
}
.project-network .network-graph {
    background-color: #555;
}
.tint-box, #contributors .person .spark {
    background-color: #555;
}
.merge-request.merged, .issue.merged, .merge-request.closed, .issue.closed {
    background-color: black;
    border-color: #777;
    color: #aaa;
}
.mr-state-widget {
    background-color: #222;
    border-color: #777;
}
.mr-state-widget .ci_widget {
    border-color: #777;
}
.mr-state-widget .ci_widget.ci-skipped {
    background-color: #333;
}
.mr-state-widget .mr-widget-body h4 {
    color: #bbb;
}
.timeline .timeline-entry {
    background-color: #222;
    border-color: #555;
}
.timeline .timeline-entry:target {
    background-color: #1a2a2a;
}
ul.notes > li.note {
    border-color: #555;
}
ul.notes .system-note {
    background-color: #111;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.diff-file {
    border-color: #999;
}
.timeline .diff-file {
    border-color: #777;
}
.diff-file .diff-header {
    background-color: #333;
    border-color: #777;
    color: #bbb;
}
.diff-file .diff-content, .code.white, .code.white pre.code, .code.white .line_holder .line_content, pre, .diff-file .diff-content table .line_holder td {
    background-color: #222;
    border-color: #666;
    color: #ddd;
}
.code.dark.col-md-10 {
    background-color: transparent;
}
.diff-file .diff-content .line_content.matched {
    background-color: #2e2e2e;
    color: #999;
}
.diff-file .diff-content .old_line, .diff-file .diff-content .new_line, .diff-file .diff-content .diff_line, .code.white .line-numbers, .code.white .diff-line-num {
    background-color: #444;
    border-color: #777;
    color: #bbb;
}
.diff-file .diff-content tr.line_holder:hover>td.new_line, .diff-file .diff-content tr.line_holder:hover>td.old_line {
    background-color: #666 !important;
    border-color: #999 !important;
}
.diff-file .diff-content tr.line_holder:hover>td.line_content {
    background-color: #444 !important;
    border-color: #999 !important;
}
.diff-file .diff-content .line_holder.old .old_line, .diff-file .diff-content .line_holder.old .new_line {
    background-color: #533;
    border-color: #855;
    color: #b88;
}
.diff-file .diff-content .line_content.old {
    background-color: #311;
}
.diff-file .diff-content tr.line_holder.old:hover>td.old_line, .diff-file .diff-content tr.line_holder.old:hover>td.new_line {
    background-color: #744 !important;
    border-color: #a77 !important;
}
.diff-file .diff-content tr.line_holder.old:hover>td.line_content {
    background-color: #422 !important;
}
.diff-file .diff-content .old span.idiff {
    background-color: #772626 !important;
}
.diff-file .diff-content .line_holder.new .old_line, .diff-file .diff-content .line_holder.new .new_line {
    background-color: #353;
    border-color: #585;
    color: #8b8;
}
.diff-file .diff-content .line_content.new {
    background-color: #131;
}
.diff-file .diff-content tr.line_holder.new:hover>td.old_line, .diff-file .diff-content tr.line_holder.new:hover>td.new_line {
    background-color: #474 !important;
    border-color: #7a7 !important;
}
.diff-file .diff-content tr.line_holder.new:hover>td.line_content {
    background-color: #242 !important;
}
.diff-file .diff-content .new span.idiff {
    background-color: #265526 !important;
}
.diff-file .notes_holder td {
    border-color: #777;
}
.diff-file .notes_holder td.notes_line {
    background-color: #222;
}
.diff-file .notes_holder td.notes_content {
    background-color: #111;
    border-color: #777;
}
.discussion-body .notes .note, .diff-file .notes .note {
    border-color: #777;
}
.discussion-body .discussion-reply-holder, .diff-file .discussion-reply-holder {
    background-color: #333;
    border-color: #777;
}
.panel {
    background-color: #333;
}
.panel-default {
    border-color: #777;
}
.panel-default>.panel-heading, .panel-default>.panel-footer {
    color: #f7f8fa;
    background-color: #54565b;
    border-color: #777;
}
.form-actions {
    background-color: #444944;
    border-color: #777;
}
.blob-commit-info {
    background-color: #1a1a1a;
    border-color: #000;
}
li.commit .commit-row-title .commit-row-message {
    color: #93AAC8;
}
li.commit .commit-row-description {
    background-color: #222;
    border-color: #333;
}
.issuable-details section, .issuable-sidebar .block {
    border-color: #555;
}
.right-sidebar {
    background: #333;
    color: #f7f8fa;
}
.right-sidebar a:not(.btn) {
    color: #f7f8fa;
}
.dropdown-menu-selectable li a.is-active {
    color: #FFF;
    font-weight: bold;
    font-style: italic;
}
.issuable-sidebar .title {
    color: #f7f8fa;
}
.light, .description-block {
    color: #d5d6d8;
}
.common-note-form, .note-form-actions, .comment-hints {
    background-color: #333337;
    border-color: #777;
}
.comment-hints {
    border-color: #555;
}
.markdown-area {
    background-color: #111;
    border-color: #777;
}
textarea.js-gfm-input {
    color: #eee;
}
.md-preview-holder {
    background-color: #222;
    border-color: #777;
}
.md, .md p {
    color: #eee;
}
.zennable input:checked ~ .zen-backdrop {
    background-color: #000;
}
.zennable input:checked ~ .zen-backdrop textarea {
    color: #eee;
}
.file-holder {
    border-color: #111;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #222;
}
table.table tr th, .file-holder table tr th, .wiki table tr th, .md table tr th, ul.notes .note .note-body .note-text table tr th {
    border-color: #777 !important;
}
table.table tr td, .file-holder table tr td, .wiki table tr td, .md table tr td, ul.notes .note .note-body .note-text table tr td {
    border-color: #555 !important;
}
#tree-holder > .tree-content-holder > .table-holder {
    background-color: #111;
}
.tree-holder .tree-table tr {
    border-color: #555;
}
.tree-holder .tree-table tr:hover td {
    background-color: #222;
}
.tree-holder .tree-item .tree-item-file-name i, .tree-holder .tree-item .tree-item-file-name a {
    color: #91A9C7;
}
.wiki table, .wiki:not(.use-csslab) table {
    color: #bbb;
}
.md:not(.use-csslab) p {
          color: #bbb;  
}
.table-bordered, .wiki table, .md table, ul.notes .note .note-body .note-text table {
    border-color: #777;
}
table.table tr th, .wiki:not(.use-csslab) table tr th, .file-holder table tr th, .wiki table tr th, .md table tr th, ul.notes .note .note-body .note-text table tr th, .layout-nav, .table-holder .builds th {
    background-color: #333;
    border-color: #777;
    color: #bbb;
}
.table>tbody+tbody, .file-holder table>tbody+tbody, .wiki table>tbody+tbody, .md table>tbody+tbody, ul.notes .note .note-body .note-text table>tbody+tbody {
    border-color: #777;
}
.wiki h1 {
    border-color: #777;
    color: #eee;
}
.wiki h2 {
    color: #ddd;
}
.wiki h3 {
    color: #ccc;
}
.wiki h4 {
    color: #bbb;
}
.wiki, .wiki p {
    color: #aaa;
}
.build-page .build-widget {
    background-color: #111;
}
.dashboard .side .panel .panel-heading {
    background-color: #464A52;
}
.light-well, .description-block {
    background-color: #38393A;
}
code.key-fingerprint {
    background-color: #444;
    color: #9499A5;
}
.bs-callout, .account-well, .well {
    border-color: #777;
    color: #fff;
    background: #444;
}
.bs-callout-warning, .settings-message {
    background-color: #433a29;
    border-color: #8a6d3b;
    color: #faebcc;
}
.dropdown-menu,.dropdown-menu-toggle {
    background-color: #444;
    border-color: rgba(255,255,255,0.3);
}
.dropdown-menu-toggle { color: #999; }
.dropdown-menu a {
    color: #bbb;
}
.dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a.is-focused,
    .dropdown-menu li .menu-item
    {
    background-color: #456;
    color: #eee;
}
    .header-user.show .dropdown-menu {
            color: #eee;

    }
.layout-nav .controls .dropdown li.active a {
    color: #ddd;
}
.dropdown-menu .divider {
    background-color: rgba(255,255,255,0.3);
}
.row-content-block.content-component-block {
    background-color: #111;
    border-color: rgba(255,255,255,0.2);
}
.commit-header {
    background-color: #272727;
    border-color: rgba(255,255,255,0.2);
}
.commit:not(:last-child) {
    border-color: rgba(255,255,255,0.2);
}
.awards .award.active {
    background-color: #404245;
    border-color: #505255;
}
.variables-table tbody td:not(:first-child):not(:last-child) {
    white-space: pre;
}
.author_link {
    color: #6A8EBE;
}
.well-list>li:hover {
    background: #444;
}
.file-holder .file-content.blame td {
    background-color: #111;
}
.file-holder .file-content.blame td.blame-numbers {
    background-color: #333;
}
.file-holder .file-content.blame td.blame-commit {
    background-color: #222;
}
.code.white {
    background-color: #111819 !important;
    color: #eee !important;
}
/* Style Settings */
.diff-file .diff-content, .code.white, .code.white pre.code, .code.white .line_holder .line_content, pre, .diff-file .diff-content table .line_holder td, .variables-table tbody td, .file-holder .file-content.blame td.lines code {
    font-family: "Menlo", "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    font-size: 11px;
}
textarea.js-gfm-input, form.new_variable #variable_key, form.new_variable #variable_value {
    font-family: "Menlo", "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    font-size: 13px;
}
ul.notes > li .note-body .note-text, ul.notes > li .note-body .note-text p {
    color: #eee;
}
.nav-links li.active a .badge {
    color: #ccc;
}
.info-well {
    background-color: #111;
    color: #777;
}
.commit-sha-group .label-monospace {
    background-color: #333;
    color: #888;
}
/* Avatar icons for people and projects */
div.identicon { /* This is the letter icons when no avatar graphic is present */
    background-color: #333 !important; 
    color: #aaa !important;
}
div.avatar-container {
    border-color: #666;
    background-color: #999;
}
img.avatar {
    background-color: #999; /* Prevents flash of white */
    border-color: #666;
}
/* Search dropdown */
.dropdown-menu li a {
    color: #aaa;
}
/* Heatmap of contributions */
div.js-contrib-calendar {
    filter: invert(100%);
}
/* Page Header */
.cover-block .cover-title {
    color: #eee;
}
.cover-block .cover-desc {
    color: #aaa;
}
/* Timelines */
.event-item .event-title, .event-item {
    color: #aaa;
}
/* User icon dropdown */
.dropdown-menu-nav {
    background-color: rgb(68,68,68);
    border-color: rgba(255,255,255,0.3);
    color: rgb(238,238,238);
}
.header-user .dropdown-menu-nav, .dropdown-menu-nav li a {
    color: rgb(238,238,238);
}
/* Left sidebar */
.nav-sidebar {
    background-color: #114;
}
.toggle-sidebar-button:hover {
    background-color: #226;
}
.toggle-sidebar-button {
    background-color: #114;
    border-top-color: #338;
}
/* Merge requests */
.mr-state-widget {
    color: #ccc;
}
.mr-source-target {
    background-color: #000;
}
/* Tabs */
.limit-container-width .merge-request-tabs-container .inner-page-scroll-tabs {
    background-color: #333;
}
.merge-request-tabs-holder {
    background-color:#000;
}
/* Merge/Diff view */
.file-title-flex-parent {
    background-color: #555;
    color: #eee;
}
.file-title-flex-parent a {
    color: #eee;
}
.diff-files-changed .commit-stat-summary {
    background-color: #333;
}
.diff-stats-summary-toggler {
    color: rgb(100,100,255);
}
/* Search popup */
.dropdown-menu li button {
    background-color: #333;
    color: #aaa;
}
/* Body of tables */
ul.notes > li .note-body .note-text table {
    color: #aaa;
}
table tr td {
    background-color: #000;
}
/* "Opened 1 week ago by USERNAME" and similar */
.detail-page-header, .detail-page-header a {
    color: #caaa;
}
/* 16x16 avatars are too small to see, especially for non-photographs */
.avatar-circle.s16, .s16.avatar, .s16.avatar-container {
    width: 24px;
    height: 24px;
}
/* File name/info in diff list */
.file-holder .file-title-flex-parent {
    background-color: #333;
}
.diff-file .file-title-flex-parent:hover {
    background-color: #555;
}
/* Tab/radio/toggle buttons,  */
.btn.active {
    background-color: #444;
    color: #DDD;
}
/* Used in code examples on empty repositories */
.git-empty .bg-light {
    background-color: #555 !important;
}
/* Near background color labels.
   They're nearly identical to the light background color,
   so reset to match dark background color. */
span.badge.color-label[style="background-color: #FFECDB; color: #333333"] {
    background-color: #333333 !important;
    color: #eeeeee !important;
}
/* Various "less important body text" entries */
.projects-list .project-details .description {
    color: #aaa;
}
/* Various "important body text" entries */
.page-title-holder .page-title {
    color: #ddd;
}
/* Various normal body text entries */
.wiki:not(.use-csslab),
.wiki:not(.use-csslab) p {
    color: #ccc;
}
/* Active tab */
.nav-links:not(.quick-links) li:not(.md-header-toolbar).active a{
    color: #ccc;
}
/* UNSORTED*/
.sub-header-block {
    background-color: #222;
}
.input-group-addon {
    color: #aaa;
}
.issuable-list li .issuable-info a {
    color: #555;
}
.milestones {
    background-color: #333;
}
.milestones .milestone {
    background-color: #222;
}
div.issuable-sidebar .dropdown-menu-labels .dropdown-content {
    /* Don't limit height of droplists in sidebar */
    max-height: none;
}
    /* Login page (probably among others) */
body.navless {
    /* Grrr, upstream specified !important, so we need to */
    background-color: black !important;
}
/* Header on login page */
header.navbar-empty {
	background-color: #222;
	border-bottom-color: rgba(0,0,0,0);
}
/* Footer on login page */
.devise-layout-html body hr.footer-fixed, .devise-layout-html body .footer-container {
	background-color: #222;
}
/* Login page tabs */
.nav-tabs .nav-link.active {
	background-color: #444;
	border-color: #555;

	
}
/* Login page tabs */
.nav-links:not(.quick-links) li:not(.md-header-toolbar) a.active {
	color: #eee;
}
.login-page .new-session-tabs li:not(.active) {
	background-color: #111;
	border-color: #555;
}
.nav-links:not(.quick-links) {
	border-color: #555;
}


/* Fixes for docs.gitlab.com */
div.header {
    background-color: #333;
}
div.main {
    background-color: #000;
}
    
/* Just use my configured monospace font */
:root{ --font-family-monospace:  monospace}
pre,code,kbd,samp, .text-monospace, .help-form .form-group .form-control,.help-form .form-group .search form,.search .help-form .form-group form, .file-content.code pre, .file-content.code pre code, .file-content.code .line-numbers a, pre, .monospace,.commit-sha,.gfm-commit,.gfm-commit_range,.ref-name,.git-revision-dropdown .dropdown-content ul li a,.mr-state-widget .label-branch,.pipeline-number,.clipboard-group .label-monospace,.commit-sha-group .label-monospace,.file-editor .file-title,.git-clone-holder .form-control,.git-clone-holder .search form,.search .git-clone-holder form, .wiki:not(.use-csslab) code, .md:not(.use-csslab) code, textarea.js-gfm-input, .commit-message-container, .diff-file .diff-content table, .prometheus-svg-container>svg .deploy-info-text-link, .shortcut-mappings .key, .notes>li .note-body .note-text code {
    font-family: monospace;
}
    
    .btn.note-action-button.btn-transparent {
        background-color: transparent;        
    }
    
    /* Entries in a merge request history */
    .card {
        background-color: rgb(17,17,17);
    }
.notes.timeline > .timeline-entry,
    .common-note-form .md-area {
        border-color: #555;
    }
    
    /* Reply area */
    .btn.btn-text-field:hover, .btn.btn-text-field {
        background-color: #111;
        border-color: #555;
     }
    .note-edit-form .md-area {
        background-color: #333;
        border-color: #333;
    }
    /* Collapsed commit lists */
    .notes .system-note .note-body .note-text.system-note-commit-list:not(.hide-shade)::after{
        /* The gradient causes the list to fade out */
        background: linear-gradient(rgba(17,17,17,0) -100px, #111111 100%)
    }
    .issue.today {
        /* Brighten issues changed in the last day (it was a white background)*/
        background-color: #030;
    }
    /* Issue sidebar edit links */
    .right-sidebar .title .edit-link {
        color: #aaf;
        font-size:80%;
    }
    /* User names in lists of comments and elsewhere */
    .note-header-info a {
        color: #aaf;
        
    }
    /* Stock timeline icons (commit/comment/etc) */
    .notes .system-note .timeline-icon  {
        background-color: #444;
        border-color: #777;
    }
    /* "Commits"  "Branches", etc at top of project. */
    .project-stats .nav .stat-link {
        color: #777;
    }
    .project-stats .nav .stat-link .project-stat-value {
        color: #bbb;
        
    }
    /* Star and fork count badges */
    .project-repo-buttons .count-buttons .count-badge-count {
        background-color: #111;
        
    }
    .project-repo-buttons .count-buttons .count {
        color: #999;
    }
    
    /* Issue Boards */
    .board-inner {
        background-color: #222;
        border-color: #555;
    }
    .board-card {
        background-color: #000;
        border-color:#333;
    }
    .board-card.is-active {
        background-color: #222;
        border-color: #777;
    }
    .board-card-title a {
        color: #88c;
    }
    
    /* Issue counts in Open/Closed/All selector */
    .nav-links:not(.quick-links) li:not(.md-header-toolbar).active a .badge.badge-pill
    {
        color: #aaa;;
    }
    .badge.badge-pill {
        background-color: #333;
        font-size: 70%;
    }
    
    /* List of labels  */
    .labels-container {
        background-color: #222;
    }
    .manage-labels-list > li:not(.empty-message):not(.is-not-draggable) {
        background-color: #333;
        
    }
    
    /* Todos list */
    .todos-list > .todo.todo-pending.done-reversible { /* Marked Done */
        background-color:black;
        
    }
    
    /* Headers in comments */
    .notes > li .note-body .note-text h1,
    .notes > li .note-body .note-text h2,
    .notes > li .note-body .note-text h3,
    .notes > li .note-body .note-text h4,
    .notes > li .note-body .note-text h5
    {
        color: rgb(204, 204, 204);
    }
    
    .code.dark .c {
        color: #2f2;
        font-style: italic;
    }
    .code.dark .gp { /* prompt in console */
        color: #aaf;
    }
    
    /* Fullscreen editing */
    .zen-backdrop.fullscreen {
        background-color: black;
    }
    .zen-backdrop.fullscreen textarea {
        color: #92959C;
        font-size: 15px; /* Was 20px, which is way too large for me. */
    }
    
    .md:not(.use-csslab) {
        color: #bbb;
    }
    
    .cgray { /* Muted, secondary text */
        color: #666;
    }
    .page-content-header .commit-committer-link,
    .page-content-header .commit-author-link {
        color: #666;
    }

}

