/* ==UserStyle==
@name           Gmail: Narrow sidebar - HighProgrammer
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Make the sidebar on Gmail narrower, so you can see more about the message.
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
==/UserStyle== */

@-moz-document domain("mail.google.com") {
    
    .aeN {
        min-width: 100px !important;
        width: 150px !important;
    }
    .wT {
        min-width: 100px;
    }
    .TN { /* Left side of sidebar entries */
        padding-left: 5px;
    }
    .bsU { /* Smaller unread counts */
        font-size: 0.5rem;
    }
    span.nU.n1 a.J-Ke.n0,
    span.nU a.J-Ke.n0 {
        font-family: 'Roboto Condensed', sans-serif;
    }
}
