/* ==UserStyle==
@name           Google Chat Dark - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Make Google Chat dark
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

Variables https://github.com/openstyles/stylus/wiki/UserCSS-authors#var
Many of these are internally used by by chat.google.com, simplifying things.

@var color background-color "Background color" black
@var color secondary-background-color "Secondary background color"    #333
@var color primary-text-color "Primary text color" #ddd
@var color selected-state-color "Background (unknown)" #333
@var color message-highlight-bg-color "Selected message background color" #333
@var color dialog-bg-color "Dialog background color" #333
@var color postbar-bg-color "Message entry background color" #333


Google's :root for chat.google.com:
color-scheme: light;
	--adopt-shell-color: #fff;
	--background-color: #fff;
	--topbar-bg-color: #fff;
	--topbar-header-text: #202124;
	--settings-bg-color: #f2f2f2;
	--settings-card-bg-color: #fff;
	--card-bg-color: #fff;
	--settings-footer-bg-color: #fff;
	--dialog-bg-color: #fff;
	--comandbar-is-open-bg-color: rgba(255, 255, 255, .7);
	--primary-app-color: #1a73e8;
	--primary-text-color: #202124;
	--secondary-text-color: #5f6368;
	--hint-text-color: #5f6368;
	--disabled-text-color: #bdc1c6;
	--header-text-color: #3c4043;
	--pill-text-color: #9aa0a6;
	--selected-state-color: #e6f4ea;
	--notifications-color: #c5221f;
	--hover-state-color: rgba(32, 33, 36, 0.039);
	--focus-state-color: rgba(32, 33, 36, 0.122);
	--pressed-state-color: #202124;
	--dialog-elevation: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
	--dialog-highlighted-bg-color: rgba(32, 33, 36, 0.078);
	--dialog-hairline-line-color: #dadce0;
	--dialog-hairline-style: solid 1px var(--dialog-hairline-line-color);
	--badge-text-color: #c5221f;
	--badge-background-color: #fce8e6;
	--icon-color: #5f6368;
	--icon-hover-color: #202124;
	--icon-send-disabled: #bdc1c6;
	--icon-send-enabled: #1a73e8;
	--surface-chip-text-color: #5f6368;
	--surface-compose-box-color: #f1f3f4;
	--surface-compose-font-color: #3c4043;
	--surface-reaction-text-color: #5f6368;
	--surface-unread-text-color: #1a73e8;
	--dividers-color: #dadce0;
	--tertiary-hint-text-color: #5f6368;
	--chip-hairline-color: #dadce0;
	--elevation-border-color: transparent;
	--mute-toggle-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
	--message-inline-monospace-bg-color: #fafafa;
	--message-block-monospace-bg-color: #fff;
	--message-inline-line-color: #c9c9c9;
	--message-block-line-color: #e0e0e0;
	--message-monospace-text-color: #424242;
	--wiz-paper-radio-text: #222;
	--wiz-menu-icon-button-hover-bg-color: rgba(32, 33, 36, 0.078);
	--wiz-menu-icon-button-focus-hover-bg-color: #f1f3f4;
	--wiz-menu-icon-button-focus-bg-color: rgba(32, 33, 36, 0.078);
	--wiz-menu-icon-button-pressed-bg-color: rgba(32, 33, 36, 0.122);
	--wiz-menu-selected-bg-color: #e6f4ea;
	--primary-line-color: #e8eaed;
	--primary-line-style: solid 1px var(--primary-line-color);
	--hairline-color: #dadce0;
	--hairline-style: solid 1px var(--hairline-color);
	--dialog-line-color: #dadce0;
	--dialog-line-style: solid 1px var(--dialog-line-color);
	--option-border-color: #bdbdbd;
	--suggestions-line-color: #eaeaea;
	--input-bg-color: #f8f9fa;
	--input-line-style: solid 1px #dadce0;
	--input-placeholder-text-color: #80868b;
	--input-checkbox-outerbox-border-color: rgba(0, 0, 0, 0.54);
	--input-checkbox-innerbox-border-color: #fff;
	--input-checkbox-checked-checkmark-color: #fff;
	--radio-unselected-color: rgba(0, 0, 0, 0.54);
	--button-hover-color: #f1f3f4;
	--button-filled-bg-color: var(--primary-app-color);
	--button-filled-color: #fff;
	--button-filled-hover-bg-color: rgba(26, 115, 232, 0.922);
	--button-filled-hover-color: #fff;
	--button-filled-focus-bg-color: rgba(26, 115, 232, 0.761);
	--button-filled-focus-color: #fff;
	--button-filled-focus-hover-bg-color: rgba(26, 115, 232, 0.678);
	--button-filled-focus-hover-color: #fff;
	--button-filled-pressed-bg-color: #1a73e8;
	--button-filled-pressed-color: #fff;
	--button-filled-disabled-bg-color: #f1f3f4;
	--button-filled-disabled-color: var(--disabled-text-color);
	--button-hairline-bg-color: transparent;
	--button-hairline-label-color: #dadce0;
	--button-tonal-bg-color: #e8f0fe;
	--button-tonal-color: #1967d2;
	--button-text-bg-color: transparent;
	--button-text-color: #1967d2;
	--button-text-hover-bg-color: rgba(26, 115, 232, 0.11);
	--button-text-hover-color: #174ea6;
	--button-text-focus-bg-color: rgba(26, 115, 232, 0.11);
	--button-text-focus-color: #174ea6;
	--button-text-focus-hover-bg-color: rgba(26, 115, 232, 0.239);
	--button-text-focus-hover-color: #174ea6;
	--button-text-pressed-bg-color: rgba(26, 115, 232, 0.161);
	--button-text-pressed-color: #174ea6;
	--button-text-disabled-bg-color: #fff;
	--button-text-disabled-color: var(--disabled-text-color);
	--fab-regular-enabled-bg-color: #1a73e8;
	--fab-regular-enabled-color: #fff;
	--fab-tonal-enabled-bg-color: #fff;
	--fab-tonal-enabled-color: var(--primary-app-color);
	--fab-tonal-enabled-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.30), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
	--fab-tonal-hover-bg-color: rgba(26, 115, 232, 0.039);
	--fab-tonal-hover-color: #174ea6;
	--fab-tonal-focused-bg-color: rgba(26, 115, 232, 0.122);
	--fab-tonal-focused-color: #174ea6;
	--gifpicker-tagbar-color: #5f6368;
	--gifpicker-tagbar-selected-bg-color: #e8f0fe;
	--gifpicker-tagbar-selected-border-color: #e8f0fe;
	--gifpicker-tagbar-selected-color: #1967d2;
	--message-anchor-bg-color: #e8eaed;
	--themed-elevation-1: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
	--themed-elevation-2: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
	--themed-elevation-3: 0 1px 3px 0 rgba(60, 64, 67, 0.30), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
	--themed-elevation-4: 0 1px 3px 0 rgba(60, 64, 67, 0.30), 0 4px 10px 4px rgba(60, 64, 67, 0.15);
	--message-highlight-bg-color: #f8f9fa;
	--postbar-bg-color: rgba(241, 243, 244, 0.749);
	--postbar-overlay-bg-color: #fff;
	--postbar-overlay-elevation: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
	--postbar-overlay-hover-elevation: 0 1px 3px 0 rgba(60, 64, 67, 0.30), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
	--postbar-overlay-main-color: var(--secondary-text-color);
	--notification-bg-color: #fff

==/UserStyle== */


@-moz-document url-prefix("https://mail.google.com/chat/"),url-prefix("https://chat.google.com/")  { 
    body.aAU { 
        background-color: var(--background-color);
    }
    #loading {
        background-color: var(--background-color);
    }
    .gb_Te { /* Search box */
        background-color: var(--secondary-background-color);
    }
    .bAw .brC-aT5-aOt-Jw { /* Right sidebar */
        background-color: var(--backgroud-color);
        border-left-color: var(--backgroud-color);
    }
    
    div.kjWKTd.RsRwdf { /* Mini message preview in sidebar */
        font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    }
    
    .Pj9rof { /* link preview box */
        border-color: var(--secondary-background-color);
        background-color: var(--secondary-background-color);
    }
    .SXFjfb { /* link preview box */
        background-color: var(--secondary-background-color);
        border-top-color: var(--secondary-text-color);
    }
    .hlrRUb { /* link preview box */
        color: var(--primary-text-color);
    }
    
    div.UDyRYe { /* line between "tabs" (Chat/Files/Tasks) and messages */
        border-color: var(--secondary-text-color);
    }
    
    .KuG0bc { /*image preview box */
        border-color: var(--secondary-background-color);
    }
    
    .SwwApf { /* Backgrounds of automatic letter icons for Rooms (and maybe people) */
        background-color: var(--background-color);
    }
    .V6.CL { /* "Chat" and "Rooms" labels on sidebar */
        color: var(--primary-text-color);
    }
    

    
    
}
