/* ==UserStyle==
@name           Google Hangouts Dark - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.3
@description    Make Google Hangouts dark
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
==/UserStyle== */

@-moz-document domain("hangouts.google.com") {
:root {
    --c-bg-section: #222;
    --c-bg-bubble: #333;
    --c-fg-convolist-person: #eee;
    --c-fg-bubble: #eee;
    --c-fg-link: #aaf;
    --c-fg-link-active: #ccf;
    --c-fg-bubble-meta: #999; /* Time and name */
    --c-bg-chat-box: black;
    --c-fg-convolist-preview: #aaa;
    --c-bg-body: black;
    --c-bg-convolist-hover: #555;
    --c-bg-button-hover: #555;
}

/* Conversation list */
.Yo, .Bb {
    background-color: var(--c-bg-section);
}
/* Conversation list */
.gsl0xd {
    /* This border is a big baffling; wants to be grey. */
    border-left-color: var(--c-bg-body);
}
/* Conversation list person/group name */
.Bb .ik {
    color: var(--c-fg-convolist-person);
}
/* Conversation list preview */
.Bb .ng, /* old */
.Bb.ee .ng /*.ee is "new" */
{ 
    color: var(--c-fg-convolist-preview);
}
/* Conversation list hover */
.Bb:hover {
    background-color: var(--c-bg-convolist-hover);

}
/* Conversation top bar */
.EV {
    background-color: var(--c-bg-bubble);
}
/* Conversation top bar buttons */
div.AB button, div.BB button {
    filter: invert(100%);
}
/* Conversation bubble */
.Sn .KRQuhe,.pj .KRQuhe {
    background-color: var(--c-bg-bubble);
}
/* Conversation bubble text */
.Sn .JL, .pj .JL {
    color: var(--c-fg-bubble);
}
.Sn .JL a,.pj .JL a {
    color: var(--c-fg-link);
}
.Sn .JL a:visited,.pj .JL a:visited {
    color: var(--c-fg-link);
}
.Sn .JL a:active,.pj .JL a:active {
    color: var(--c-fg-link-action);
}
 
/* Conversation general background */
div.iN {
    background-color: var(--c-bg-section);
}
/* Chat bubble pointers */
.Sn .jHldnd, .pj .jHldnd {
    border-color: var(--c-bg-bubble);
   
}
/* Chat box */
.My {
    /*background-color: rgb(0,0,0);*/
    background-color: var(--c-bg-chat-box);
}
.TsiDff {
    color: #eee;
}
/* Time of comment */
.TlvAYc {
    color: var(--c-fg-bubble-meta);
}
/* "New Conversation" button in conversation list */
.ptrgQb:hover {
    background-color: var(--c-bg-button-hover);   
}

/* Box for comments */
.fq {
    background-color: var(--c-bg-bubble);
}

/* Supress background image */
div.g-Qx-eb {
    display: none;
}
    
/* Buttons on the text entry area */
div.My button {
    filter: invert(1);
}
    
/* Hangout name change announcements */
.yV {
    background-color: black;
}
.TsiDff {
    color: var(--c-fg-bubble);
}
}
