/* ==UserStyle==
@name           LWN Dark - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.2
@description    Dark LWN (Linux Weekly News)
@author         Kajika, Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        CC-BY-SA-4.0
==/UserStyle== */

@-moz-document url-prefix("https://lwn.net") {
/* DARK THEME */
body
{
    font-family: sans-serif;
    line-height: 1.4em;
    --main-bg-color: #000;
	--main-fg-color: #bbb;
	--lighter-bg-color: #222;
    --lighter-fg-color: #ccc;
	--highlight-bg-color: #41464b;
    --highlight-fg-color: #ddd;
    --link-fg-color: #aac;
    --link-visited-color: #aab;
    --span-fg-color: #e99;
    --bigquote-fg-color: #e99;
    --subcription-fg-color: #9b8;

    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

h1
{
    color: var(--highlight-fg-color);
}

a:link
{
    color: var(--link-fg-color);
}

a:visited,
.navmenu a:visited
{
    color: var(--link-visited-color);
}

a:visited:hover
{
   color: var(--highlight-fg-color); 
}

a.navmenu,
h2.SummaryHL a:link,
h2.SummaryHL a:visited
{
    color: var(--lighter-fg-color);
}

a:hover
{
    background-color: var(--highlight-bg-color);
    color: var(--highlight-fg-color);
}

.navmenu ul,
#menu,
div.topnav-container
{
    background-color: var(--lighter-bg-color);
}

div.Headline
{
    background-color: var(--highlight-bg-color);
}

div.FeatureByline {
    background-color: var(--lighter-bg-color);
    border: none;
    font-size: 80%;
}

div.GAByline,
div.CommentBox P.CommentTitle
{
    background-color: var(--highlight-bg-color);
    border-color: var(--lighter-bg-color);
}

span
{
    background-color: var(--main-bg-color);
    color: var(--span-fg-color);
    font-style: italic;
}

font.Subscription
{
    color: var(--subcription-fg-color);
}

.Form
{
    background-color: var(--lighter-bg-color);
    color: var(--lighter-fg-color);
    border-color: var(--lighter-bg-color);
}
    
table.OddEven th {
    background-color: var(--highlight-bg-color);
}

table.OddEven tr:nth-child(2n+1)
{
    background-color: var(--highlight-bg-color);
    color: var(--lighter-fg-color);
}

table.OddEven tr:nth-child(2n)
{
    background-color: var(--lighter-bg-color);
    color: var(--lighter-fg-color);
}

tr.Even
{
    background-color: var(--lighter-bg-color);
    color: var(--lighter-fg-color);
}

/* Event Calendar */
td.CalMName,
TD.CalMDate
{
    background-color: var(--lighter-bg-color);
    color: var(--lighter-fg-color);
}

DIV.ArticleText {
    max-width: 50em;
}
DIV.BigQuote {
    background-color: var(--main-bg-color);
    color: var(--bigquote-fg-color);
    font-style: italic;
}

div.PageHeadline h2 { /* [LWN subscriber-only content] */
    font-size: 80%;
    color: #999;
    font-weight: normal;
}
div.ArticleText img {
    /* Sometimes there are transparent images assuming a white background */
    background-color:#eee;
}

/*Mailing list threading information*/
div.MLThread {
    background-color:#222;
}

/* Sidebars */
div.tlr, div.tlrw{
    background-color: #333;
    border-color: #555;
}
}

@-moz-document url-prefix("https://lwn.net/Distributions/"), url-prefix("https://lwn.net/Reviews/"), url-prefix("https://lwn.net/Gallery/") {
/* Distributions */
table:nth-child(2) td:nth-child(1),
p table td:nth-child(1)
{
    background-color: var(--lighter-bg-color);
    color: var(--lighter-fg-color);
}

table:nth-child(2) td:nth-child(2),
p table td:nth-child(2)
{
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}
}

@-moz-document url-prefix("https://lwn.net") {
/* ENHANCEMENT */



button, input, optgroup, select, textarea
{
    background-color: var(--highlight-bg-color);
    color: var(--highlight-fg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;
    padding: 4px 12px
}

.pure-u-md-19-24
{
    width: 100%;
}
}
