:root {
	--preview-width: 200px;
	--preview-height: 100px;
}
body {
	font-family: sans-serif;
}
p {
	margin: 0.5em 0;
}

div.preview {
    width: var(--preview-width);
    height: var(--preview-height);
    float: left;
    margin-right: 1em;
	background-color: hsl(0,0%,85%);
}
div.preview img {
    max-width: 100%;
    max-height: 100%;
	display: block;
	margin: auto;
}
div.preview img:hover {
	position: absolute;
    max-width: auto;
    max-height: auto;
	width: auto;
	height: auto;
	display: block;
}
div.item {
    margin-top: 1em;
    clear: both;
	overflow: auto;
}
h2 {
    clear: both;
	margin-top: 1em;
}
h3 {
	display: inline;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; } 
a:hover { text-decoration: underline; } 
a:active { text-decoration: underline; }
