/* ==UserStyle==
@name           Dark Microsoft Dev Blogs highprogrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.1
@description    Dark theme for Microsoft's Dev Blogs (like The Old New Thing)
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
==/UserStyle== */

@-moz-document domain("devblogs.microsoft.com") {
    .postcontent {
        background-color: #222;
     }
    body.custom-background {
        background-color: black;
    }
    body {
        color: #ddd;
    }
    /* header bar */
    .c-uhfh > div:first-child { 
        background-color: #222;
    }
     /* blog title */
    .c-uhfh > [class*="theme-"] .c-logo {
        color: #ccc;
    }
     /* header bar buttons */
    .c-uhfh > div:first-child .c-uhf-menu button {
        color: #ccc;
    }
    /* front page links to posts */
    .entry-area {
        background-color: #222;
    }
    /* links */
    a {
        color: #77f;
    }
    code,pre {
        color: #f00;
    }
    pre {
        padding: 0.5em 1em;
        background-color: #333;
    }    
    
    /* FOOTER */
    .c-uhff {
        background-color: #222;
    }
    .c-uhff-nav .c-heading-4 {
        color: #AAA;
    }
    a.c-uhff-link:hover {
        color: #CCC;
    }
    .c-uhff-nav a.c-uhff-link {
        color: #AAA;
    }
    .c-uhff-base { /* bottom of footer */
        background-color: #222;
    }
    
    /* "cards" at bottom of posts */
    .bottomleft, .bottomcenter, .bottomright {
        background-color: #222;
    }
    .bottomleft h5, .bottomcenter h5, .bottomright h5 {
        color: #AAA;
    }
    
    /* COMMENT AREA */
    .dpr-join-form-inner { /* Comment/login */
        background-color: #222;
        border-color: #444;
    }
    .dpr-join-form-wrap { /* top part */
        background-color: #222;
    }
    /* comment area */
    /*
    .dpr-join-form-area textarea { 
        background-color: #000;
    }
    */
    
}
