/* ==UserStyle==
@name           Pinboard misc styles - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.2
@description    Random style changes for Pinboard
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

Variables https://github.com/openstyles/stylus/wiki/UserCSS-authors#var
@var          color    fontColor "Font color"    #123456
@var          select   navPos    "Navbar position" {
    "Top": "top",
    "Bottom": "bottom"
}
@var          checkbox fixNav    "Fixed navbar"  1
@var          text     navHeight "Navbar height" 60px
@var range theiconsize "Icon Size" [24, 1, 128, 1, "px"]
==/UserStyle== */

@-moz-document domain("pinboard.in") {

    #edit_bookmark_form {
        border-radius: 1em;
        width: 510px;
    }    
    input[type=text], textarea {
        padding: 0.5em;
    }
    body {
        margin: 0;
    }
    #banner {
        width: auto;
        padding: 2px
    }
    #content {
        width: auto;
    }
    /*#bookmarks {
        width: auto;
        max-width: 600px;
    }*/
    #main_column {
        max-width: 1050px;
        margin-left: 20px;
    }
    
    div.bookmark.private div.star::after {
        position: relative;
        content: "🔒\FE0E";
        top: 1em;
        left: -0.8em;
        font-size: 90%;
        color: rgb(102, 102, 102);
    }
    
    /*
    div.bookmark.private div.display::before {
        position: relative;
        content: "🔒\FE0E";
        top: 1.5em;
        left: -1.3em;
        right: -1.3em
    }*/
}
