/* ==UserStyle==
@name           Pinboard font size variation - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.4
@description    Use more distinctly sized fonts for Pinboard; customizable.
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

@preprocessor default
@var text bookmarkTitle "Bookmark title size" 140%
@var text tag "Tag size" 80%
@var text url "URL size" 70%
@var text when "Date added size" 80%
@var text editLink "Edit/Delete/Mark as Read link size" 80%
@var text description "Description size" 100%
==/UserStyle== */

@-moz-document domain("pinboard.in") {
    a:active, a:hover {
        text-decoration: underline;
    }
    a.bookmark_title {
        font-size: var(--bookmarkTitle);
    }
    a.tag {
        font-size: var(--tag);
    }
    a.url_display {
        font-size: var(--url);
    }
    a.when {
        font-size: var(--when);
    }
    .edit_links a {
        font-size: var(--editLink);
    }
    div.description {
        font-size: var(--description);
    }
}
