/* ==UserStyle==
@name           Pinboard Hide Private Bookmarks and Tags - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Hides private tags (those that .start with a period) and private bookmarks. Not "secure", but hopefully good enough to avoid some embarassment.
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

==/UserStyle== */
@-moz-document domain("pinboard.in") {
    a[href*="/t:."] { /* Private Tags */
        display: none;
    }
    div.bookmark.private { /* Private Bookmarks */
        display: none; 
    }
}

