/* ==UserStyle==
@name           docs.python.org Dark - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.6
@description    Make Python documentation at docs.python.org dark.
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
==/UserStyle== */

@-moz-document domain("docs.python.org") {
    :root {
        --bg-deep: black;
        --bg-main: #222;
        --bg-supporting: #111;
        --bg-code: #282800;
        --bg-warning: #600;
        --border-supporting: #555;
        --border-code: #555
        --fg-default: #ccc;
        --fg-link: #bbf;
        --fg-hl-keyword: #00ffe1;
        --fg-hl-operator: #0f0;
        --fg-hl-ident: #ddd;
        --fg-hl-string: #070;
        --fg-hl-default: #eee;
        
    }
    body {
        background-color: var(--bg-deep);
        color: #ccc; /* TODO: Why can I use? var(--fg-default); */
    }
    
    div.related,      /* Header bar */
    div.sidebar,      /* 2x Sidebars */
    div.sphinxsidebar /* 3x sidebars */
    {
        background-color: var(--bg-supporting);
        color: var(--fg-default);
    }
    div.sidebar,      /* 2x Sidebars */
    div.sphinxsidebar /* 3x sidebars */
    {
        border-color: var(--border-supporting);
    }
    
    div.related a, /* Links in header bar */
    div.body a /* Links in main body */
    {
        color: var(--fg-link);
    }
    div.body h1,
    div.body h2,
    div.body h3,
    div.body h4,
    div.body h5,
    div.body { /* Clear unnecessary colors; use larger div! */
        background-color: inherit;
        color: inherit;
    }
    div.document { /* main body */
        background-color: var(--bg-main);
        color: inherit;
    }
    pre {
        background-color: var(--bg-code);
        border-color: var(--border-code);
        color: var(--fg-hl-default);
    }
    
    /* Syntax highlighting */
    .highlight .kn, /* keyword.namespace */
    .highlight .nt /* name.tag */
    { 
        color: var(--fg-hl-keyword);
        font-weight: normal;
    }
    .highlight .nt /* name.tag */,
    .highlight .na /* name.attribute */
    {
        color: var(--fg-hl-ident);
    }
    .highlight .nn { /* Name.Namespace */
        color: var(--fg-hl-ident);
        font-weight: normal;
    }
    .highlight .n { /* Identifier? */
        color: var(--fg-hl-ident);
    }
    .highlight .nb { /* Identifier? */
        color: var(--fg-hl-ident);
    }
    .highlight .o { /* operator? */
        color: var(--fg-hl-operator);
    }
    .highlight .p { /* punctuation? */
        color: var(--fg-hl-operator);
    }
    .highlight .s /* string */,
    .highlight .s1 /* string.single */ {
        color: var(--fg-hl-string);
        font-style: italic;
    }
    .highlight .go { /* console output? */
        color: var(--fg-hl-default);
    }
    code { /* Inline code */
        background-color: var(--bg-code);
    }
    
    code.xref {
        background-color: var(--bg-code);
    }
    
    .note code {
        background-color: var(--bg-code);
    }
    
    div.seealso, /* admonitions */ 
    div.note
     
    {
        background-color: var(--border-supporting); 
        border-color: var(--border-supporting);
    }
    
    /* Docutils derived tables */
    table.docutils th {
        background-color: var(--border-supporting); 
    }
    table.docutils td {
        background-color: inherit; 
    }
    
    tt,
    .note tt
    {
        background-color: var(--bg-code);
    }
    .deprecated {
        background-color: var(--bg-warning);
    }
    div.warning {
        background-color: var(--bg-warning);
    }
    
    dt:target { /* Search result */
        background-color: #550;
    }
    
}
