/* ==UserStyle==
@name           Slack Narrow Sidebar - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.1
@description    A narrow sidebar with narrow fonts
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

==/UserStyle== */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i');

@-moz-document domain("slack.com") {
    nav.p-workspace__sidebar div.c-scrollbar__child,
    nav.p-workspace__sidebar div.c-scrollbar,
    nav.p-channel_sidebar,
    div.p-workspace__channel_sidebar,
    div.p-classic_nav__team_header,
    div.p-workspace__sidebar
    {
        width: 150px !important; /* Set inline */
        font-family: "Roboto Condensed";
    }
    .p-channel_sidebar__navigation_bar .p-channel_sidebar__jumper,
    .p-channel_sidebar__navigation_bar
    {
        width: 125px;
        font-family: "Roboto Condensed";
    }
    .p-classic_nav__team_header {
        font-family: "Roboto Condensed";
    }
    .c-scrollbar__hider {
        right: 0;
    }
    
    
    .p-workspace--context-pane-collapsed {
        grid-template-columns:150px auto;
    }
    .p-workspace--context-pane-expanded {
        grid-template-columns:150px auto 312px;
    }
    @media screen and (min-width:1440px) {
        .p-workspace--context-pane-expanded {
            grid-template-columns:150px auto 492px
        }
    }
    @media screen and (max-width:1440px) {
        .p-workspace--context-pane-expanded {
            grid-template-columns:150px auto 442px
        }
    }
    @media screen and (max-width:1366px) {
        .p-workspace--context-pane-expanded {
            grid-template-columns:150px auto 392px
        }
    }
    @media screen and (max-width:1279px) {
        .p-workspace--context-pane-expanded {
            grid-template-columns:150px auto 367px
        }
    }
    @media screen and (max-width:1070px) {
        .p-workspace--context-pane-expanded {
            grid-template-columns:150px auto 337px
        }
    }
    @media screen and (max-width:860px) {
        .p-workspace--context-pane-expanded {
            grid-template-columns:150px auto 312px
        }
    }

}
