/* ==UserStyle==
@name           Slack narrow messages - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Limit message width on Slack to something convenient
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
@var text themaxwidth "Maximum Width" 39em
==/UserStyle== */

@-moz-document domain("slack.com") {
    .c-message__body {
        max-width: var(--themaxwidth); /*30em;   */
    }
    pre {
        /*          Window  Lgutter  sidebar  rightedge */
        width: calc(100vw   - 64px   - 220px  - 16px);
  /*position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;*/
    }
    
}
