/* ==UserStyle==
@name           Slack.com Larger Reaction Emoji - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Make the reaction emoji on Slack larger. Size is configurable.
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
@preprocessor default
@var range theiconsize "Icon Size" [24, 1, 128, 1, "px"]
==/UserStyle== */

@-moz-document domain("slack.com") {
    /* Bigger reaction emoji */
    span.emoji-outer.emoji-sizer {
        height: var(--theiconsize);
        width: var(--theiconsize);
    }
}
