/* ==UserStyle==
@name           Slack Dark Mode - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.4
@description    A new userstyle
@author         Alan De Smet <chaos@highprogrammer.com>
==/UserStyle== */

@-moz-document domain("slack.com") {
    :root {
        --bg-main: #111;
        --bg-main-transparent: rgba(0,0,0,0); /* for fades */
        --bg-main-highlight: #333;
        --bg-main-secondary: #333;
        --bg-main-tertiary: #555;
        --bg-main-code: #222;
        --fg-main: #aaa;
        --fg-main-secondary: #666;
        --fg-link-hover: #77f;
        --fg-code-string: #090;
        --fg-link: #88c;
    }
    body {
        background-color: var(--bg-main);
        color: var(--fg-main);
    }
    
    /* Header bar (whole screen) */
    .p-client {
        background-color: var(--bg-main)
    }
    
    
    /* Main body background */
    .p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider {
        background-color: var(--bg-main);
        /*color: var(--bg-main);*/
    }
    
/* A Single Message */
    /* Hovered message */
    .c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),
        .c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.cXX-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight)
{
        background-color: var(--bg-main-highlight);
       
    }
    /* sender name */
    .c-message__sender a, /* All Unreads */
    .c-message--light .c-message__sender .c-message__sender_link /* Normal channels */ {
        color: var(--fg-main);
    }
    /* Timestamp */
    .c-timestamp__label {
        color: var(--fg-main-secondary);
    }
    /* message body */
    .c-message__body {
        color: var(--fg-main);
    }
    /* Preformatted blocks */
    pre {
        background-color: var(--bg-main-code);
    }
    /* Link preview */
    .c-pillow_file_container {
        background-color: var(--bg-main-highlight);
        color: var(--fg-main);
    }
    .c-pillow_file__title {
        color: var(--fg-main);
    }
    
    /* Action link for preview BROKEN)*/
    .c-file__action_button {
        background-color: var(--bg-main-highlight);
        color: var(--fg-main);        
    }
    /* preview label(?) */
    .c-message_kit__file__meta {
        color: var(--fg-main-secondary)
    }
    .c-files_container .c-message_kit__file__remove {
        color: var(--fg-main-secondary)
    }
    
    /* preview button links and buttons*/
    .c-pillow_file__swap .c-pillow_file__slide {
        background-color: var(--bg-main-highlight);
    }
    .c-file__action_button:hover {
        color: var(--fg-link-hover);
    }
    .c-file__action_button,
    .c-file__action_button:link {
        color: var(--fg-main);
    }
    
    /* Preview image */
    .p-file_image_thumbnail__wrapper,
    .c-file_gallery_image_file
    {
        background-color: rgba(0,0,0,0);
        border-color: purple;
        
    }
    /* Trying and failing to hide rounded box around image preview 
    .XXX.c-message_kit__gutter__right {
        padding: 0;
    }
    .XXX.p-unreads-view__message .c-message_kit__gutter {
        padding: 0;
    }
    .p-file_image_thumbnail__wrapper {
        border-radius: 0;
    }
    a.c-link.p-file_image_thumbnail__wrapper::after {
        border: 0;    
    }*/
    
    /* Preview code */
    .CodeMirror,
    .CodeMirror pre {
        color: var(--fg-main);
        background-color: var(--bg-main-secondary)
    }
    .cm-s-default .cm-string {
        color: var(--fg-code-string);
    }
    .cm-s-default .cm-variable {
        color: inherit;
    }
    .cm-s-default .cm-operator {
        color: inherit;
    }
    div.CodeMirror-code > div::before { /* Line numbers */
        color: var(--fg-main-secondary) !important;
    }
    .c-pillow_file__content--collapsed:after { /* Collapsed fade */
        content:"";position:absolute;left:0;right:0;top:0;bottom:0;background:linear-gradient(0deg,var(--bg-main),var(--bg-main-transparent) 40px)
    }
    /* inline code */
    code {
        background-color: var(--bg-main-secondary);
    }

    
    /* Buttons in top bar */
    .c-button-unstyled {
        color: var(--fg-main);
    }
    .p-classic_nav__model__title__info__pins:hover,
    .p-classic_nav__model__title__info__members:hover
    {
        color: var(--fg-link-hover);
    }
    .p-classic_nav__model__title__info { /* Channel description */
        color: var(--fg-main);
    }
    
    /* search box */
    .c-button-unstyled > var,
    .p-classic_nav__right__search__icon,
    .p-classic_nav__right__search:hover .p-classic_nav__right__search__placeholder
    {
        color: var(--fg-main);
    }
    .p-classic_nav__right__search {
        border-color: var(--fg-main);
    }
    
    /* Floating date */
    .c-message_list__day_divider__label__pill {
        background-color: var(--bg-main-secondary);
        color: var(--fg-main);
    }
    /* Floating date divider */
    .c-message_list__day_divider__line{
        border-top:1em solid var(--bg-main-secondary);
        top:-12px;
    }
    hr.c-message_list__day_divider__line > currentcolor {
        border-color: green;
        border-top-color: green;
        border-bottom-color: green;
        color: green;
    }
    /* "new messages" divider label */
    .c-message_list__unread_divider__label {
        background-color: var(--bg-main-secondary);
        font-weight: normal;
        padding: .2rem .4rem;
        border-radius: 0.5rem;
    }
    /* "new messages" divider */
    .c-message_list__unread_divider__separator {
        border-top: 1px solid var(--fg-main);
    }
    
    /* scrollbar */
    .c-scrollbar__bar {
        background-color: var(--fg-main);
        color: white;
    }
    
    /* @username links */
    .c-member_slug--link {
        background-color: inherit;
    }
    
    /* Description for a message page (used on @self channel) */
    .p-message_pane__foreword__description {
        color: var(--fg-main-secondary);
    }
    
    /* Header */
    .p-classic_nav__channel_header {
        background-color: var(--bg-main-secondary);
    }
    
    /* Channel headers in All Unreads */
    .p-unreads_view__header {
        background-color: var(--bg-main-secondary);
    }
    
    /* Sidebar */
    .p-classic_nav__team_header {
        background-color: var(--bg-main-secondary);
    }
    .p-channel_sidebar {
        background-color: var(--bg-main-secondary);
    }   
    
    /* Links, general */
    a {
        color: var(--fg-link);
    }
    a:hover {
        color: var(--fg-link-hover);
    }
    
    /* Attachment/preview text */
    .c-message_attachment {
        color: var(--fg-main-secondary);
    }
    
    /* Message entry box */
    .p-workspace__input .p-message_input_field {
        background-color: var(--bg-main);
            
    }
    .c-texty_input .ql-placeholder {
        color: var(--fg-main-secondary);
    }
    
    /* per-message popup actions */
    .c-message_actions__container {
        background-color: var(--bg-main-tertiary);
    }
    
    /* TODO experimental: trying to eliminate white bar at top of discussion */
    .c-scrollbar__hider::before {
        display: none;
        content: "XXX";
    }
    .c-scrollbar__child::before {
        display: none;
        content: "YYY";
    }

    /* Force scrollbar visibility */
    .c-scrollbar__bar {
        opacity: 0.5;
    }
    
    /* Right sidebar headers */
    .p-flexpane_header {
        background-color: var(--bg-main-tertiary);
    }

    /* Right of sidebar (search, misc buttons) */
    .p-classic_nav__right_header {
        background-color: var(--bg-main-secondary);
    }
    
    /* Reaction emoji */
    button.c-reaction {
        background-color: transparent;
    }
    span.c-reaction__count {
        color: var(--fg-main-secondary);
    }
    
    /* Full screen image preview popup */
    .c-fullscreen_modal__content {
        background-color: var(--bg-main);
    }
    
    /* Search popup */
    .c-search_modal .popover > div,
    .c-search_modal:not(.c-search_modal--primarysearch) .c-search__input_box,
    .c-search_autocomplete footer
    {
        background-color: var(--bg-main);
    }
    .c-search_autocomplete__suggestion_item {
        /* Search term history */
        color: var(--fg-main-secondary);
    }

    /* "Threads" tab */
    div.c-scrollbar__child {
        background-color: black;
    }
    .c-channel_name {
        color: #999;
    }
    div.c-message_kit__background.p-threads_view_root,
    div.p-threads_view_reply,
    div.p-threads_view__footer

    {
        background-color: #333;
        border-width: 0;
    }
    div.p_threads_view_load_older_button
    {
        background: linear-gradient(to bottom, #333 0%,#000000 50%,#333 100%);
                border-width: 0;

    }
    
    
    .p-workspace__input .p-message_input_field,      /* Message editing box */
    .p-workspace__input .p-message_input_field.focus /* Message editing box */
    {
        border-color: var(--bg-main-tertiary);
    }
    .p-message_input_field {
        background-color: var(--bg-main) !important;
        border-color: var(--bg-main-tertiary) !important;

    }
    
    /* TODO:
        - Search results
        - Threads view (left sidebar)
    */
    
}
