/* ==UserStyle==
@name           Twitter tighten sidebar - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Tighten the sidebar of links to ensure no scrollbar in short windows
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

@preprocessor stylus
@var range sidebarSpacing "Icon Size" [2, 0, 20, 1, "px"]


==/UserStyle== */
@-moz-document domain("twitter.com") {
    header.css-1dbjc4n a.css-1dbjc4n,
    header.css-1dbjc4n div.css-1dbjc4n {
        /* Link around sidebar entries */
        padding-top: sidebarSpacing;
        padding-bottom: sidebarSpacing;
    }
}
