/* ==UserStyle==
@name           Twitter Hacks, Pre-2019 - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.1
@description    Fix a few things that irritate me about twitter.
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later
==/UserStyle== */

@-moz-document domain("twitter.com") {

/*html body div.TwitterCardsGrid.TwitterCard.TwitterCard--animation div.TwitterCardsGrid-col--12.TwitterCardsGrid-col--spacerBottom.CardContent a.js-openLink.u-block.TwitterCardsGrid-col--12.TwitterCard-container.TwitterCard-container--clickable.SummaryCard--large div.SummaryCard-contentContainer.TwitterCardsGrid-col--12 div.SummaryCard-content.TwitterCardsGrid-ltr h2.TwitterCard-title.js-cardClick.tcu-textEllipse--multiline, html body div.TwitterCardsGrid.TwitterCard.TwitterCard--animation div.TwitterCardsGrid-col--12.TwitterCardsGrid-col--spacerBottom.CardContent a.js-openLink.u-block.TwitterCardsGrid-col--12.TwitterCard-container.TwitterCard-container--clickable.SummaryCard--large div.SummaryCard-contentContainer.TwitterCardsGrid-col--12 div.SummaryCard-content.TwitterCardsGrid-ltr p.tcu-resetMargin.u-block.TwitterCardsGrid-col--spacerTop.tcu-textEllipse--multiline{
    color: #aaa;
}*/

div[data-testid^="poster"] {
    opacity: 0 !important;
    transition: 1500ms !important;
}
div[data-testid^="poster"] {
    opacity: 1 !important;
    transition: 200ms !important;
}

}
