/* ==UserStyle==
@name           Washington Post Nuisances - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    Remove some attractice nuisances from the Washington Post
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

==/UserStyle== */

@-moz-document domain("washingtonpost.com") {
    div.opinions-chain {
        display: none;
    }
    div.leaderboard-wrapper {
        display: none;
    }
    .gray-darkest {
        color: rgb(100,100,100);
    }
    .font-copy {font-size: 1rem; }
}
