/* ==UserStyle==
@name           Weekly Sift Dark - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.3
@description    Dark theme for Doug Muder's The Weekly Sift weeklysift.com
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

@var          color    bgColor   "Background color"    #000000
@var          color    bgSecondary   "Background color"    #333333
@var          color    fontColor "Font color"    #aaaaaa
@var          color    linkColor "Link color"    #6767ff
@var          color    vlinkColor "Visited link color"    #755b8d
@var          color    alinkColor "Active link color"    #EE0000
==/UserStyle== */

@-moz-document domain("weeklysift.com") {
    body {
        background-color: var(--bgColor);
        color: var(--fontColor);
    }
    a:link {
        color: var(--linkColor);
    }
    a:visited {
        color: var(--vlinkColor);
    }
    /*
    a:focus {
        
    }
    a:hover {
        
    }
    */
    a:active {
        color: var(--alinkColor)
    }
    
    img {
        opacity: 0.2;
        transition: 500ms;
    }
    img:hover {
        opacity: 1;
        transition: 500ms;
    }
    
    /* Comments */
    div#comments h3 { /* "Comments" label */
        background-color: var(--bgSecondary);
    }
    .darkblue div.comment-meta { /* Headers for comment (who, when) */
        background-color: var(--bgSecondary); 
    }
    .darkblue div.comment-meta div.comment-actions { /* Permalink/reply */
        background-color: var(--bgSecondary);

    }
    .darkblue div#comments div.singlecomment { /* Comment body */
        background-color: var(--bgColor);
    }
    
    /* Captioned images */
    .wp-caption {
        background-color: var(--bgSecondary);
        border: 0px;
    }
}
