/* ==UserStyle==
@name           Wikipedia Dark Material Theme FIXES - HighProgrammer
@namespace      github.com/openstyles/stylus
@version        1.0.1
@description    Patches some details from Wikipedia Dark Material Theme (https://userstyles.org/styles/122072/wikipedia-dark-material-design )
@author         Alan De Smet
==/UserStyle== */

@-moz-document domain("wikipedia.org") {
    /* Tooltips are white text on white background. Fix. */
    .rt-tooltip {
        background-color:black;        
    }
    div.rt-tooltipTail:after {
        background-color: black;
    }
    .mw-body-content, body {
        background-color: black !important;
    }
    /* Example keys */
    kbd {
        background-image: linear-gradient(to bottom, #444, #222, #444) !important;
        color: white !important;
    }
}
