/* ==UserStyle==
@name           NAMEGOESHERE - HighProgrammer
@namespace      gitlab.com/AlanDeSmet/alan-usercss
@version        1.0.0
@description    DESCRIPTIONGOESHERE
@author         Alan De Smet
@homepageURL    https://alandesmet.gitlab.io/alan-usercss/
@supportURL     https://gitlab.com/AlanDeSmet/alan-usercss/issues
@license        GPL-2.0-or-later

Variables https://github.com/openstyles/stylus/wiki/UserCSS-authors#var
@var          color    fontColor "Font color"    #123456
@var          select   navPos    "Navbar position" {
    "Top": "top",
    "Bottom": "bottom"
}
@var          checkbox fixNav    "Fixed navbar"  1
@var          text     navHeight "Navbar height" 60px
@var range theiconsize "Icon Size" [24, 1, 128, 1, "px"]
==/UserStyle== */

@-moz-document domain("example.com") {

div[data-testid^="poster"] {
    opacity: 0 !important;
    transition: 1500ms !important;
}
div[data-testid^="poster"] {
    opacity: 1 !important;
    transition: 200ms !important;
}

}
